<template>
  <v-footer
    absolute
    class="transparent justify-center"
    flat
    height="100"
  >
    <v-img
      :src="require('~/assets/img/logo-shadow.svg')"
      :max-width="50"
    ></v-img>   
  </v-footer>
</template>
