<template>
  <div>
    <!-- Date picker -->
    <v-date-picker
      full-width no-title
      v-model="viewedDate"
      :events="allEventDates"
      color="primary"
      event-color="primary"
      v-if="canAddItem"
    ></v-date-picker>

    <!-- Fab for adding new item -->
    <v-btn
        fab fixed top right
        color="primary" @click="addItem"
        v-if="!showActions && canAddItem"
      >
      <v-icon color="bg">fas fa-plus</v-icon>
    </v-btn>

    <!-- Show the calendar items for the given day -->
    <v-list two-line class="py-0 bg">
      <!-- Show current items -->
      <v-list-tile
        v-for="item in theDaysItems" :key="item._id"
        @click="inspect(item)"
      >
        <v-list-tile-content>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          <v-list-tile-sub-title>{{ formatDate(item.start_date, 'h:mm A') }} to {{ formatDate(item.end_date, 'h:mm A') }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <!-- End list -->

    <!-- Now calendars: show message -->
    <div v-if="!canAddItem" class="pa-3 text-xs-center">
      <div class="headline mb-2">Let's get you started!</div>
      <div class="mb-2">It doesn't look like you have any calendars yet. Use the menu on the left to create a list, or click the button below.</div>
      <v-btn
        color="primary"
        to="/calendar/new"
        large
        class="bg--text"
      >
        New Calendar
      </v-btn>
    </div>

    <!-- Inspector Dialog -->
    <v-dialog
      v-model="showActions"
      full-width width="400px"
    >
      <v-card v-if="activeItem" class="bg">
        <!-- Display details -->
        <v-card-text v-show="!editMode" v-if="activeItem">
          <div class="font-weight-bold" style="font-size: 16px;">{{ activeItem.title }}</div>
          <div class="font-weight-light">{{ formatDate(activeItem.start_date, 'h:mm A') }} to {{ formatDate(activeItem.end_date, 'h:mm A') }}</div>
          <div class="font-weight-light">{{ activeItem.calendar_title }}</div>
          <!-- <div class="font-weight-light" v-if="activeItem.location">{{ activeItem.location }}</div> -->
          <div v-if="activeItem.description" class="mt-2" v-html="activeItem.description"></div>
        </v-card-text>

        <!-- Edit Details -->
        <v-card-text v-if="editMode">
          <v-form v-model="formValid" @submit.prevent="saveActiveItem" ref="form">
            <!-- Title -->
            <v-textarea
              label="Title"
              v-model="title" :rules="titleRules"
              box autofocus
              @keydown.enter.prevent="saveActiveItem"
              :rows="1"
              auto-grow
            ></v-textarea>
            <!-- Date/Time -->
            <gs-date-field v-model="date" label="Date"></gs-date-field>
            <v-container class="pa-0" grid-list-md fluid>
              <v-layout>
                <v-flex>
                  <gs-time-field v-model="start_time" label="Start Time"></gs-time-field>
                </v-flex>
                <v-flex>
                  <gs-time-field v-model="end_time" label="End Time" :min="start_time"></gs-time-field>
                </v-flex>
              </v-layout>
            </v-container>
            <!-- Calendar -->
            <v-select
              v-if="canAddItem && isNewItem && !calendarId"
              label="Calendar"
              :items="calendarsForSelect"
              box
              v-model="calendar"
            ></v-select>
            <!-- Description -->
            <v-textarea
              label="Description"
              v-model="description"
              box
              @keydown.shift.enter="saveActiveItem"
              auto-grow
              rows="1"
            ></v-textarea>
          </v-form>
        </v-card-text>
        <!-- Edit/trash -->
        <v-card-actions v-if="activeItem && !editMode">
          <v-btn color="error" outline @click="deleteActiveItem">
            <v-icon>fas fa-trash</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="info" outline @click="editActiveItem">
            <v-icon>fas fa-edit</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-actions v-if="activeItem && editMode">
          <v-btn color="warning" outline @click="editMode = false">
            <v-icon>fas fa-times</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="success" @click="saveActiveItem" :disabled="!formValid">
            <v-icon>fas fa-save</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    
  </div>
</template>

<script>
import { format, isSameDay, compareAsc, addDays, addHours } from 'date-fns'
import { getUTCDate } from '~/assets/js/FUNCTIONS'
import GsDateField from '~/components/GsDateField'
import GsTimeField from '~/components/GsTimeField'

export default {
  props: {
    calendarItems: Array,
    calendarId: {
      type: String,
      default: ""
    }
  },

  components: {GsDateField, GsTimeField},

  data() {
    return {
      viewedDate: format(new Date(), `YYYY-MM-DD`),
      showActions: false,
      editMode: false,
      activeItem: null,
      fab: false,

      // Editing details
      formValid: false,
      // Title
      title: "",
      titleRules: [v => !!v || 'This field is required.'],
      // Description
      description: "",
      // Location
      location: "",
      // Date
      date: format(new Date(), `YYYY-MM-DD`),
      dateRules: [
        v => !!v || 'This field is required.'
      ],
      // Time
      start_time: "",
      end_time: "",
      // Calendar
      calendar: null

    }
  }, // End data


  computed: {
    // Items for the selected day
    theDaysItems() {
      return this.calendarItems
        .filter(item => isSameDay(item.start_date, this.viewedDate))
        .sort((a,b) => compareAsc(a.start_date, b.start_date));
    },

    // All events
    allEventDates() {
      return [...this.calendarItems].map(item => format(item.start_date, `YYYY-MM-DD`));
    },

    isNewItem() {
      if (!this.activeItem) return false;
      return this.activeItem._id == "";
    },

    calendars() {
      return [...this.$store.state.member_calendars].sort((a,b) => {
        if (a.title < b.title) return -1;
        else if (a.title > b.title) return 1;
        else return 0;
      })
    },
    
    calendarsForSelect() {
      return this.calendars.map(calendar => {return {value: calendar._id, text: calendar.title}});
    },

    canAddItem() {
      return this.calendars!=null && this.calendars.length > 0;
    }

  }, // End computed

  watch: {
    // Watch the start time. If it's greater than end_time, bump the end time
    start_time() {
      if (!/\d{2}\:\d{2}/.test(this.start_time)) return false;

      let [h_i, m_i] = this.start_time.split(":").map(v => parseInt(v)),
          [h_f, m_f] = this.end_time.split(":").map(v => parseInt(v));

      // If end time earlier than start time...
      if (h_f < h_i || (h_f == h_i && m_f < m_i)) {
        h_f = h_i;
        m_f = m_i;

        h_f = h_f==0 ? 12 : h_f;
        h_f = h_f < 10 ? `0${h_f}` : `${h_f}`;
        m_f = m_f < 10 ? `0${m_f}` : `${m_f}`;
        this.end_time = `${h_f}:${m_f}`
      }

      
    }
  }, // End watch

  filters: {
    timeFilter: val => {
      return format(val, `h:mm A`)
    },

    itemDetailsFilter: val => {
      return format(val, `dddd MMMM D [at] h:mm A`)
    }
  }, // End filters


  methods: {
    formatDate: format,

    addItem() {
      if (!this.canAddItem) return false;
      this.activeItem = {
        _id: "",
        title: "",
        description: "",
        location: "",
        start_date: this.viewedDate,
        end_date: addHours(this.viewedDate, 1),
        calendar: this.calendarId ? this.calendarId : this.calendarsForSelect[0].value
      }
      this.showActions = true;
      this.editActiveItem();
    },

    // Inspect a calendar item
    inspect(item) {
      this.activeItem = item;
      this.showActions = true;
      this.editMode = false;
    },
    
    // Edit the active item
    editActiveItem() {
      // Do stuff
      this.title = this.activeItem.title;
      this.description = this.activeItem.description;
      this.location = this.activeItem.location;
      this.date = format(this.activeItem.start_date, `YYYY-MM-DD`);
      this.start_time = format(this.activeItem.start_date, `HH:mm`);
      this.end_time = format(this.activeItem.end_date, `HH:mm`);
      this.calendar = this.activeItem.calendar;
      
      try {this.$refs.form.resetValidation();} catch(err) {}
      this.editMode = true;
      try {this.$nextTick(this.$refs.title.focus); } catch(err) {}
    },

    exitEditMode() {
      this.editMode = false;
      this.showActions = false;
      this.activeItem = null;
      if (this.$refs.form) {
        this.$refs.form.resetValidation();
      }
    },

    // Delete the active item
    deleteActiveItem() {
      return this.$axios
        .delete(`/calendaritems/${this.activeItem._id}`)
        .then(res => res.data)
        .then(item => {
          this.$store.commit('calendaritem_delete', item);
          this.$store.commit('snackbar', {type: "success", message: `Item deleted.`});
          this.editMode = false;
          this.showActions = false;
          this.activeItem = null;
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Could not delete item.`});
        })
    },

    // Save the item
    saveActiveItem() {
      if (!this.formValid) return false;

      let [Y, M, D] = this.date.split("-").map(v => parseInt(v)),
          [h_i, m_i] = this.start_time.split(":").map(v => parseInt(v)),
          [h_f, m_f] = this.end_time.split(":").map(v => parseInt(v));

      if (this.isNewItem) {
        // Save new item
        return this.$axios
          .post(`/calendaritems`, {
            title: this.title,
            description: this.description,
            location: this.location,
            start_date: new Date(Y, M-1, D, h_i, m_i),
            end_date: new Date(Y, M-1, D, h_f, m_f),
            calendar: this.calendar
          })
          .then(res => res.data)
          .then(item => {
            this.$store.commit('calendaritem_upsert', item);
            this.$store.commit('snackbar', {type: "success", message: `Item added.`});
            this.exitEditMode();
          })
          .catch(err => {
            this.$store.commit('snackbar', {type: "error", message: `Could not add item.`});
          })
      } else {
        // Save edits to current item
        return this.$axios
          .put(`/calendaritems/${this.activeItem._id}`, {
            title: this.title,
            description: this.description,
            location: this.location,
            start_date: new Date(Y, M-1, D, h_i, m_i),
            end_date: new Date(Y, M-1, D, h_f, m_f),
            calendar: this.calendar
          })
          .then(res => res.data)
          .then(item => {
            this.$store.commit('calendaritem_upsert', item);
            this.$store.commit('snackbar', {type: "success", message: `Item saved.`});
            this.editMode = false;
            this.showActions = false;
          })
          .catch(err => {
            this.$store.commit('snackbar', {type: "error", message: `Could not update item.`});
          })
      }
    },

    

  }, // End methods

}
</script>
