<template>
  <div class="fill-height">
    <!-- Calendar sheetd -->
    <v-sheet height="100%">
      <v-toolbar flat class="transparent">
        <v-btn icon outline @click="incrementView(-1)">
          <v-icon>fas fa-chevron-left</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <div>{{ formatDate(date, `MMMM`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon outline @click="incrementView(1)">
          <v-icon>fas fa-chevron-right</v-icon>
        </v-btn>
      </v-toolbar>
      <v-calendar
        type="4day"
        :value="date"
        class="fill-height"
      >
      
        <template slot="dayBody" slot-scope="{ date, timeToY, minutesToPixels }">
          <template v-for="event in eventsMap[date]">
            <!-- Timed events -->
            <div
              :key="event._id"
              class="my-event with-time"
              v-html="event.title"
              @click="inspect(event)"
              :style="{
                top: timeToY(formatDate(event.start_date, `HH:mm`)) + 'px',
                height: minutesToPixels(durationInMinutes(event.end_date, event.start_date)) + 'px'
              }"
            ></div>
          </template>
        </template>

      </v-calendar>
    </v-sheet>



    <!-- Bottom sheet -->
    <v-bottom-sheet
      v-model="showActions"
    >
      <v-card tile class="bg">
        
        <!-- Actions -->
        <v-speed-dial
          v-model="fab"
          absolute top right
          direction="left"
          :open-on-hover="$vuetify.breakpoint.smAndUp"
          :style="{'top': '0%'}"
          v-show="activeItem && !editMode"
        >
          <!-- Activator -->
          <v-btn
            slot="activator"
            v-model="fab"
            color="primary"
            fab
          >
            <v-icon color="bg">fas fa-bars</v-icon>
            <v-icon color="bg">fas fa-times</v-icon>
          </v-btn>
          <!-- Edit -->
          <v-btn color="info" fab @click="editActiveItem">
            <v-icon>fas fa-edit</v-icon>
          </v-btn>
          <!-- Trash -->
          <v-btn color="error" fab @click="deleteActiveItem">
            <v-icon>fas fa-trash</v-icon>
          </v-btn>
        </v-speed-dial>

        <!-- Save fab -->
        <v-btn
          v-if="activeItem && editMode"
          color="success"
          fab absolute top right
          @click="saveActiveItem"
          :disabled="!formValid"
        >
          <v-icon>fas fa-save</v-icon>
        </v-btn>

        <!-- Display details -->
        <v-card-text v-show="!editMode" v-if="activeItem">
          <div class="font-weight-bold" style="font-size: 16px;">{{ activeItem.title }}</div>
          <div class="font-weight-light">{{ formatDate(activeItem.start_date, 'h:mm A') }} to {{ formatDate(activeItem.end_date, 'h:mm A') }}</div>
          <div class="font-weight-light">{{ activeItem.calendar_title }}</div>
          <!-- <div class="font-weight-light" v-if="activeItem.location">{{ activeItem.location }}</div> -->
          <div v-if="activeItem.description" class="mt-2" v-html="activeItem.description"></div>
        </v-card-text>

        <!-- Edit Details -->
        <v-card-text v-if="editMode">
          <v-form v-model="formValid" @submit.prevent="saveActiveItem" ref="form">
            <!-- Title -->
            <v-textarea
              label="Title"
              v-model="title" :rules="titleRules"
              box autofocus
              @keydown.enter.prevent="saveActiveItem"
              :rows="1"
              auto-grow
            ></v-textarea>
            <!-- Date/Time -->
            <gs-date-field v-model="date" label="Date"></gs-date-field>
            <v-container class="pa-0" grid-list-md fluid>
              <v-layout>
                <v-flex>
                  <gs-time-field v-model="start_time" label="Start Time"></gs-time-field>
                </v-flex>
                <v-flex>
                  <gs-time-field v-model="end_time" label="End Time" :min="start_time"></gs-time-field>
                </v-flex>
              </v-layout>
            </v-container>
            <!-- Calendar -->
            <v-select
              v-if="canAddItem && isNewItem && !calendarId"
              label="Calendar"
              :items="calendarsForSelect"
              box
              v-model="calendar"
            ></v-select>
            <!-- Description -->
            <v-textarea
              label="Description"
              v-model="description"
              box
              @keydown.shift.enter="saveActiveItem"
              auto-grow
              rows="1"
            ></v-textarea>
          </v-form>
        </v-card-text>
      </v-card>
    </v-bottom-sheet>

  </div>
</template>

<script>
import { format, isSameDay, compareAsc, addDays, addHours, differenceInMinutes } from 'date-fns'
import { getUTCDate } from '~/assets/js/FUNCTIONS'
import GsDateField from '~/components/GsDateField'
import GsTimeField from '~/components/GsTimeField'

const date = format(new Date(), `YYYY-MM-DD`);

// Export component
export default {
  props: {
    calendarItems: Array,
    calendarId: {
      type: String,
      default: ""
    }
  },

  components: {GsDateField, GsTimeField},

  data: () => ({
    date: date,

    viewedDate: format(new Date(), `YYYY-MM-DD`),
      showActions: false,
      editMode: false,
      activeItem: null,
      fab: false,

      // Editing details
      formValid: false,
      // Title
      title: "",
      titleRules: [v => !!v || 'This field is required.'],
      // Description
      description: "",
      // Location
      location: "",
      // Date
      date: format(new Date(), `YYYY-MM-DD`),
      dateRules: [
        v => !!v || 'This field is required.'
      ],
      // Time
      start_time: "",
      end_time: "",
      // Calendar
      calendar: null
  }),

  computed: {
    // Event map for vuetify
    eventsMap() {
      let map = {};
      this.calendarItems.forEach(evt => {
        let fdate = format(evt.start_date, `YYYY-MM-DD`);
        map[fdate] = map[fdate] || [];
        map[fdate].push(evt);
      });
      return map;
    },

    // Items for the selected day
    theDaysItems() {
      return this.calendarItems
        .filter(item => isSameDay(item.start_date, this.viewedDate))
        .sort((a,b) => compareAsc(a.start_date, b.start_date));
    },

    // All events
    allEventDates() {
      return [...this.calendarItems].map(item => format(item.start_date, `YYYY-MM-DD`));
    },

    isNewItem() {
      if (!this.activeItem) return false;
      return this.activeItem._id == "";
    },

    calendars() {
      return [...this.$store.state.member_calendars].sort((a,b) => {
        if (a.title < b.title) return -1;
        else if (a.title > b.title) return 1;
        else return 0;
      })
    },
    
    calendarsForSelect() {
      return this.calendars.map(calendar => {return {value: calendar._id, text: calendar.title}});
    },

    canAddItem() {
      return this.calendars!=null && this.calendars.length > 0;
    }
  }, // End computed

  watch: {
    // Watch the start time. If it's greater than end_time, bump the end time
    start_time() {
      if (!/\d{2}\:\d{2}/.test(this.start_time)) return false;

      let [h_i, m_i] = this.start_time.split(":").map(v => parseInt(v)),
          [h_f, m_f] = this.end_time.split(":").map(v => parseInt(v));

      // If end time earlier than start time...
      if (h_f < h_i || (h_f == h_i && m_f < m_i)) {
        h_f = h_i;
        m_f = m_i + 15;

        if (m_f >= 60) {
          h_f++;
          m_f -= 60;
        }

        h_f = h_f==0 ? 12 : h_f;
        h_f = h_f < 10 ? `0${h_f}` : `${h_f}`;
        m_f = m_f < 10 ? `0${m_f}` : `${m_f}`;
        this.end_time = `${h_f}:${m_f}`
      }

      
    }
  }, // End watch

  filters: {
    timeFilter: val => {
      return format(val, `h:mm A`)
    },

    itemDetailsFilter: val => {
      return format(val, `dddd MMMM D [at] h:mm A`)
    }
  }, // End filters

  methods: {
    formatDate: format,

    // increment date
    incrementView(direction = 1) {
      this.date = format(addDays(this.date, direction==1 ? 4 : -4), `YYYY-MM-DD`);
    },

    // Determine duration in minutes
    durationInMinutes(start, end) {
      let diff = Math.abs(differenceInMinutes(end, start));
      return diff ? diff : 15;
    },

    addItem() {
      if (!this.canAddItem) return false;
      this.activeItem = {
        _id: "",
        title: "",
        description: "",
        location: "",
        start_date: this.viewedDate,
        end_date: addHours(this.viewedDate, 1),
        calendar: this.calendarId ? this.calendarId : this.calendarsForSelect[0].value
      }
      this.showActions = true;
      this.editActiveItem();
    },

    // Inspect a calendar item
    inspect(item) {
      this.activeItem = item;
      this.showActions = true;
      this.editMode = false;
    },
    
    // Edit the active item
    editActiveItem() {
      // Do stuff
      this.title = this.activeItem.title;
      this.description = this.activeItem.description;
      this.location = this.activeItem.location;
      this.date = format(this.activeItem.start_date, `YYYY-MM-DD`);
      this.start_time = format(this.activeItem.start_date, `HH:mm`);
      this.end_time = format(this.activeItem.end_date, `HH:mm`);
      this.calendar = this.activeItem.calendar;
      
      try {this.$refs.form.resetValidation();} catch(err) {}
      this.editMode = true;
      try {this.$nextTick(this.$refs.title.focus); } catch(err) {}
    },

    exitEditMode() {
      this.editMode = false;
      this.showActions = false;
      this.activeItem = null;
      if (this.$refs.form) {
        this.$refs.form.resetValidation();
      }
    },

    // Delete the active item
    deleteActiveItem() {
      return this.$axios
        .delete(`/calendaritems/${this.activeItem._id}`)
        .then(res => res.data)
        .then(item => {
          this.$store.commit('calendaritem_delete', item);
          this.$store.commit('snackbar', {type: "success", message: `Item deleted.`});
          this.editMode = false;
          this.showActions = false;
          this.activeItem = null;
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Could not delete item.`});
        })
    },

    // Save the item
    saveActiveItem() {
      if (!this.formValid) return false;

      let [Y, M, D] = this.date.split("-").map(v => parseInt(v)),
          [h_i, m_i] = this.start_time.split(":").map(v => parseInt(v)),
          [h_f, m_f] = this.end_time.split(":").map(v => parseInt(v));

      if (this.isNewItem) {
        // Save new item
        return this.$axios
          .post(`/calendaritems`, {
            title: this.title,
            description: this.description,
            location: this.location,
            start_date: new Date(Y, M-1, D, h_i, m_i),
            end_date: new Date(Y, M-1, D, h_f, m_f),
            calendar: this.calendar
          })
          .then(res => res.data)
          .then(item => {
            this.$store.commit('calendaritem_upsert', item);
            this.$store.commit('snackbar', {type: "success", message: `Item added.`});
            this.exitEditMode();
          })
          .catch(err => {
            this.$store.commit('snackbar', {type: "error", message: `Could not add item.`});
          })
      } else {
        // Save edits to current item
        return this.$axios
          .put(`/calendaritems/${this.activeItem._id}`, {
            title: this.title,
            description: this.description,
            location: this.location,
            start_date: new Date(Y, M-1, D, h_i, m_i),
            end_date: new Date(Y, M-1, D, h_f, m_f),
            calendar: this.calendar
          })
          .then(res => res.data)
          .then(item => {
            this.$store.commit('calendaritem_upsert', item);
            this.$store.commit('snackbar', {type: "success", message: `Item saved.`});
            this.editMode = false;
            this.showActions = false;
          })
          .catch(err => {
            this.$store.commit('snackbar', {type: "error", message: `Could not update item.`});
          })
      }
    },

    

  }, // End methods

}
</script>

<style lang="stylus">
.eventDiv {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding: 3px;
  margin-bottom: 2px;
  cursor: pointer;
}

.my-event {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  background-color: #1867c0;
  color: #ffffff;
  border: 1px solid #1867c0;
  font-size: 12px;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 1px;
  left: 4px;
  margin-right: 8px;
  position: relative;

  &.with-time {
    position: absolute;
    right: 4px;
    margin-right: 0px;
  }
}
</style>
