<template>
  <div>
    <v-dialog
      full-width
      width="290px"
      v-model="showDialog"
      scrollable
      lazy
    >
      <v-text-field
        slot="activator"
        readonly
        :label="label"
        :value="value"
        :color="value"
        box
        loading
      >
        <v-progress-linear
          slot="progress"
          :value="100"
          :color="value"
          height="10"
        ></v-progress-linear>
      </v-text-field>

      <v-card>
        <v-card-title>Select a Color</v-card-title>
        <!-- List the cards -->
        <v-card-text class="pa-0" style="height: 450px;">
          <v-list class="py-0">
            <v-list-group
              v-for="(color, color_key) in colors"
              :key="`color-${color_key}`"
              no-action
              :style="{'background-color': color.base}"
            >
              <v-list-tile
                slot="activator"
              >
                <v-list-tile-title>{{ color_key }}</v-list-tile-title>
              </v-list-tile>
              <v-list-tile
                v-for="(variant, variant_key) in color"
                :key="`variant-${color_key}-${variant_key}`"
                :style="{'background-color': variant}"
                @click="selectColor(variant)"
              >
                <v-list-tile-title>{{ color_key }} {{ variant_key }}</v-list-tile-title>
              </v-list-tile>
            </v-list-group>
          </v-list>
        </v-card-text>

      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import colors from "vuetify/es5/util/colors";

export default {
  props: {
    value: String,
    label: {
      type: String,
      default: "Color"
    }
  },

  data() {
    return {
      showDialog: false,
      colors,

    }
  },

  methods: {
    selectColor(colorcode) {
      this.$emit('input', colorcode);
      this.showDialog = false;
    }
  }
}
</script>
