<template>
  <div>
    <v-dialog v-model="shown" full-width width="290px">
      <v-text-field
        slot="activator"
        type="text"
        :label="label"
        readonly
        :value="dateDisplay"
        box
        block
      ></v-text-field>

      <v-date-picker
        v-model="date"
        color="primary"
      >
        <v-spacer></v-spacer>
        <v-btn @click="dateChange" color="primary" class="bg--text">Okay</v-btn>
      </v-date-picker>
    </v-dialog>
  </div>
</template>

<script>
import { getUTCDate, dateFilter } from '~/assets/js/FUNCTIONS'
import { format } from 'date-fns'

export default {
  props: {
    value: String,
    label: {
      type: String,
      default: "Date"
    }
  },

  data() {
    return {
      shown: false,
      date: this.$props.value
    }
  },

  computed: {
    dateDisplay() {
      return format(this.date, `dddd MMM D, YYYY`)
    }
  },

  watch: {
    value() {
      console.log('hey');
      this.date = this.value;
    }
  },

  filters: {
    dateFilter: val => format(getUTCDate(val), `dddd MMM D, YYYY`)
  },

  methods: {
    dateChange() {
      this.shown = false;
      this.$emit('input', this.date);
    }
  }
}
</script>
