<template>
  <v-toolbar app color="bg">
    <v-toolbar-items>
      <v-btn
        flat
        to="/" exact
        active-class=""
        class="px-0"
      >
        <img :src="require('~/assets/img/logo.svg')" style="max-height: 42px" />
      </v-btn>
    </v-toolbar-items>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-xs-only">
      <v-btn
        v-for="link in links" :key="`desktop-link-${link.title}`"
        :to="link.to"
        flat
      >{{ link.title }}</v-btn>
    </v-toolbar-items>
    <!-- Mobile -->
    <v-toolbar-items class="hidden-sm-and-up">
      <v-menu
        v-model="showMenu"
        :nudge-bottom="60"
      >
        <v-btn flat slot="activator">
          Menu
          <v-icon right>fas {{ !showMenu ? 'fa-bars' : 'fa-times' }}</v-icon>
        </v-btn>

        <v-list>
          <v-list-tile
            v-for="link in links" :key="`mobile-link-${link.title}`"
            :to="link.to"
          >
            <v-list-tile-title>{{ link.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {

  data() {
    return {
      showMenu: false
    }
  },

  computed: {
    user() {
      return this.$store.state.user;
    },

    isLoggedIn() {
      return this.user != undefined && this.user._id != "";
    },

    links() {
      let links = [
        {title: "About", to: "/about"}
      ];

      if (this.isLoggedIn) {
        links.push(
          {title: "Account", to: "/user"},
          {title: "Logout", to: "/user/logout"}
        )
      } else {
        links.push(
          {title: "Signup", to: "/user/signup"},
          {title: "Login", to: "/user/login"}
        )
      }

      return links;
    }
  }
}
</script>
