<template>
  <v-dialog
    v-model="loading"
    width="300"
    persistent
  >
    <v-card>
      <v-card-text>
        {{ loadingMessage }}
        <v-progress-linear
          indeterminate
          color="info"
          class="mb-0"
        ></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {  
  computed: {
    loading: {
      get() {
        return this.$store.state.isLoading;
      },
      set(v) {
        this.$store.commit('isLoading', v);
      }
    },

    loadingMessage() {
      return this.$store.state.loadingMessage;
    }
  }
}
</script>