<template>
  <div>
    <v-card
      class="elevation-10"
      :class="expanded ? [] : ['primary', 'white--text']"
    >
      <v-card-title
        :style="expanded ? {} : {'cursor': 'pointer'}"
        @click="expand"
      >New Todo</v-card-title>
      <!-- Body -->
      <v-card-text v-show="expanded">
        <v-form v-model="formValid" @submit.prevent="save" ref="form">
          <!-- Title -->
          <v-text-field
            label="Title"
            v-model="title" :rules="titleRules"
            box
            ref="titleInput"
            @keyup.enter="save"
          ></v-text-field>
          <!-- Date -->
          <v-dialog
            v-model="showDatePicker"
            full-width
            width="290px"
          >
            <v-text-field
              slot="activator"
              readonly
              label="Due Date"
              :value="due_date | dateFilter"
              box
              block
              :rules="due_dateRules"
            ></v-text-field>
            <v-date-picker
              v-model="due_date"
              @change="showDatePicker = false"
            ></v-date-picker>
          </v-dialog>
          <!-- Description -->
          <v-textarea
            v-model="description"
            box
            label="Description"
          ></v-textarea>
        </v-form>
      </v-card-text>
      <v-divider v-show="expanded"></v-divider>
      <v-card-actions v-show="expanded">
        <v-btn
          color="warning"
          @click="cancel"
        >
          <v-icon>fas fa-times</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          color="success"
          @click="save"
          :disabled="!formValid"
        >
          <v-icon>fas fa-save</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { format, isToday, isTomorrow } from 'date-fns'
import getUTCDate from '~/assets/js/getUTCDate'
const now = getUTCDate();

export default {
  data() {
    return {
      expanded: false,
      formValid: false,
      // Title
      title: "",
      titleRules: [v => !!v || 'This field is required.'],
      // Date
      due_date: format(now, `YYYY-MM-DD`),
      due_dateRules: [v => !!v || 'This field is required.'],
      showDatePicker: false,
      // Description
      description: ""

    }
  }, // End data

  filters: {
    dateFilter (date) {
      // date = getUTCDate(date);
      if (isToday(date)) return "Today";
      else if (isTomorrow(date)) return "Tomorrow";
      else return format(date, `dddd MMM D, YYYY`)
    }
  },

  methods: {
    expand() {
      if (this.expanded) return false;

      this.title = "";
      this.description = "";
      this.due_date = format(new Date(), `YYYY-MM-DD`);

      // this.$refs.form.reset();
      this.$refs.form.resetValidation();

      this.expanded = true;
      this.$nextTick(this.$refs.titleInput.focus);
    },

    cancel() {
      this.expanded = false;
    },

    save() {
      if (!this.formValid) return false;

      this.$axios
        .post('/todos', {
          title: this.title,
          description: this.description,
          due_date: this.due_date,
          list: this.$route.query._id
        })
        .then(() => {
          this.$store.commit('snackbar', {type: "success", message: `Todo added.`});
          this.expanded = false;
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('snackbar', {type: "error", message: `Couldn't add todo.`});
        })

    }
  }
}
</script>
