<template>
  <div class="fill-height white black--text">
    <no-ssr>
      <vue-editor
        v-model="body"
        @text-change="onTextChange"
        :editorToolbar="toolbar"
      ></vue-editor>
    </no-ssr>
  </div>
</template>


<script>

export default {
  props: {
    value: String
  },

  data() {
    return {
      body: "",

      toolbar: [
        [{'header': [1, 2, 3, 4, 5, 6, false]}],
        ['bold', 'italic', 'underline', 'strike'],

        [{'list': 'ordered'}, {'list': 'bullet'}],

        [{'color': []}, {'background': []}],
        [{ 'align': [] }],

        ['clean']
      ] // End toolbar
    }
  },

  watch: {
    value() {
      this.body = this.value;
    }
  },

  methods: {
    onTextChange(delta, oldDelta, source) {
      console.log(source);
      if (source == 'user') {
        this.$emit('input', this.body);
      }
    }
  }, // End methods

  created() {
    this.body = this.value
  }

}
</script>

<style>
.quillWrapper {
  height: calc(100% - 56px);
}
</style>
