<template>
  <div>
    <v-card class="bg">
      <v-card-title class="secondary lighten-2 font-weight-bold" v-if="theme.primary">Your Theme</v-card-title>
      <v-divider></v-divider>

      <!-- Customize -->
      <v-card-text>
        <v-card
          v-for="prebuilt in themes" :key="`prebuilt-${prebuilt.id}`"
          class="mb-3"
          :style="{
            'background-color': prebuilt.bg,
            'opacity': prebuilt.id==userTheme.id ? 0.4 : 1,
            'cursor': prebuilt.id==userTheme.id ? '' : 'pointer'
          }"
          @click="selectPrebuilt(prebuilt)"
          :dark="prebuilt.mode == 'dark'"
          :light="prebuilt.mode == 'light'"
        >
          <v-card-title class="font-weight-bold pa-2">{{ prebuilt.title }}</v-card-title>
          <v-divider></v-divider>
          <v-card-text class="pa-0">
            <v-layout row wrap>
              <v-flex
                v-for="property in properties" :key="`pbb-${prebuilt.id}-${property.key}`"
                :style="{'background-color': prebuilt[property.key]}"
                class="pa-2"
                xs4
              >
                {{ property.title }}
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-card-text>
    </v-card>
    
  </div>
</template>

<script>
import THEMES from '~/assets/js/THEMES'

export default {

  data() {
    return {
      themes: THEMES,

      modes: [
        {value: 'dark', text: 'Dark'},
        {value: 'light', text: 'Light'}
      ],
      
      theme: {},

      // colorChoices: [
      //   {label: "Background", key: 'bg'},
      //   {label: "Primary", key: 'primary'},
      //   {label: "Success", key: 'success'},
      //   {label: "Info", key: 'info'},
      //   {label: "Warning", key: 'warning'},
      //   {label: "Error", key: 'error'},
      // ],

      properties: [
        {title: "Background", key: "bg"},
        {title: "Primary", key: "primary"},
        {title: "Success", key: "success"},
        {title: "Info", key: "info"},
        {title: "Warning", key: "warning"},
        {title: "Error", key: "error"},
      ]
    }
  },

  computed: {
    user() {
      return this.$store.state.user;
    },

    userTheme() {
      return this.$store.getters.userTheme;
    }
  }, // End computed

  watch: {
    userTheme(val) {
      this.theme = Object.assign({}, val);
    },
  },

  methods: {
    saveTheme() {
      this.$axios
        .put(`/user/updateTheme/${this.user._id}`, {theme: this.theme})
        .then(res => res.data)
        .then(user => {})
        .catch(err => {
          console.log(err);
        })
    },

    cancelChanges() {
      this.theme = this.userTheme;
    },

    selectPrebuilt(prebuilt) {
      this.theme = prebuilt;
      this.showPrebuilts = false;
      this.saveTheme();
    }
  },

  mounted() {
    this.theme = this.userTheme;
    // console.log(colors);
  }


}
</script>
