<template>
  <div>
    <v-dialog v-model="shown" full-width width="290px">
      <v-text-field
        slot="activator"
        :label="label"
        readonly
        :value="time | timeFilter"
        box
        block
      ></v-text-field>

      <v-time-picker
        v-model="time"
        :min="min"
        :max="max"
        color="primary"
      >
        <v-spacer></v-spacer>
        <v-btn
          @click="timeChange"
          color="primary"
          class="bg--text"
        >Okay</v-btn>
      </v-time-picker>
    </v-dialog>
  </div>
</template>

<script>
import { format } from 'date-fns'

export default {
  props: {
    value: String,
    label: {
      type: String,
      default: "Time"
    },
    min: {
      type: String,
      default: ""
    },
    max: {
      type: String,
      default: ""
    },
  },

  data() {
    return {
      shown: false,
      time: this.$props.value
    }
  },

  watch: {
    value() {
      this.time = this.value;
    }
  },

  filters: {
    timeFilter: val => {
      let [h, m] = val.split(":"),
          A = "AM";
      // Check hour
      if (h >= 12) {
        A = "PM";
        h = h - 12;
      }
      if (h == 0) h = 12;

      return `${h}:${m} ${A}`;
    }
  },

  methods: {
    timeChange() {
      this.shown = false;
      this.$emit('input', this.time);
    }
  }
}
</script>
