<template>
  <v-card
    :class="editMode || showActions ? ['grey', 'lighten-3'] : []"
  >
    <!-- Display data -->
    <v-card-text
      @click="showActions = !showActions"
      v-show="!editMode"
      :style="{'cursor': 'pointer'}"
    >
      <div>{{ todo.title }}</div>
      <div style="font-size:0.9em;">{{ todo.due_date | dateFilter }}</div>
      <div v-html="todo.description" v-if="todo.description && showActions" class="mt-1"></div>
    </v-card-text>
    <!-- Edit data -->
    <v-card-text v-show="editMode">
      <v-form v-model="formValid" @submit.prevent="saveEdit">
        <v-text-field
          label="Title"
          v-model="title"
          :rules="titleRules"
          box
          ref="title"
          @keyup.enter="saveEdit"
        ></v-text-field>
        <v-dialog
          v-model="showDatePicker"
          full-width
          width="290px"
        >
          <v-text-field
            slot="activator"
            readonly
            label="Due Date"
            :value="due_date | dateFilter"
            box
            block
          ></v-text-field>
          <v-date-picker
            v-model="due_date"
            @change="showDatePicker = false"
          ></v-date-picker>
        </v-dialog>

        <v-textarea
          label="Description"
          v-model="description"
          box
          ref="description"
        ></v-textarea>
      </v-form>
    </v-card-text>
    <!-- Actions if not editing and want to see actions -->
    <v-card-actions v-if="showActions && !editMode">
      <v-btn
        color="error"
        @click.stop="deleteTodo"
      >
        <v-icon>fas fa-trash</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn
         color="info"
        @click.stop="editTodo"
      >
        <v-icon>fas fa-pencil-alt</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        color="success"
        @click.stop="markComplete"
      >
        <v-icon>fas fa-check</v-icon>
      </v-btn>
    </v-card-actions>
    <!-- Actions if in edit mode -->
    <v-card-actions v-if="editMode">
      <v-btn
        color="warning"
        @click="editMode = false"
      >
        <v-icon>fas fa-times</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        color="success"
        @click="saveEdit"
        :disabled="!formValid"
      >
        <v-icon>fas fa-save</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { format, isToday, isTomorrow } from 'date-fns'
import getUTCDate from '~/assets/js/getUTCDate'

export default {
  props: {
    todo: Object,
    edit: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      showActions: false,
      editMode: false,
      formValid: false,

      title: "",
      titleRules: [v => !!v || 'This field is required.'],

      description: "",

      due_date: format(new Date(), `YYYY-MM-DD`),
      showDatePicker: false
    }
  },

  filters: {
    dateFilter (date) {
      date = getUTCDate(date);
      if (isToday(date)) return "Today";
      else if (isTomorrow(date)) return "Tomorrow";
      else return format(date, `dddd MMM D, YYYY`)
    }
  },

  methods: {
    format,

    editTodo() {
      this.title = this.todo.title;
      this.description = this.todo.description;
      this.due_date = format(getUTCDate(this.todo.due_date), `YYYY-MM-DD`);
      // Show edit mode
      this.editMode = true;
      this.$nextTick(this.$refs.title.focus)
    },

    markComplete() {
      this.$axios
        .put(`/todos/markComplete/${this.todo._id}`)
        .then(() => {
          this.$store.commit('snackbar', {type: "success", message: `Todo complete!`});
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Couldn't update todo.`});
        })
    },

    saveEdit() {
      if (!this.formValid) return false;
      this.$axios
        .put(`/todos/${this.todo._id}`, {
          title: this.title,
          description: this.description,
          due_date: this.due_date
        })
        .then(() => {
          this.$store.commit('snackbar', {type: "success", message: `Todo saved.`});
          this.editMode = false;
          this.showActions = false;
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Couldn't update todo.`});
        })
    },

    deleteTodo() {
      this.$axios
        .delete(`/todos/${this.todo._id}`)
        .then(() => {
          this.$store.commit('snackbar', {type: "success", message: `Todo deleted.`});
        })
        .catch((err) => {
          this.$store.commit('snackbar', {type: "error", message: `Couldn't delete todo.`});
        })
    }
  },

  created() {
    this.editMode = this.$props.edit;
  }
}
</script>
