<template>
  <div>
    <v-list two-line class="py-0 bg">
      <transition-group enter-active-class="" leave-active-class="">
        <v-list-tile
          v-for="todo in todos" :key="todo._id"
          @click="inspect(todo)"
        >
          <v-list-tile-action>
            <v-hover>
              <v-icon
                slot-scope="{ hover }"
                :class="['pa-2', hover ? 'elevation-6' : 'elevation-1', hover ? 'bg' : 'primary']"
                :style="{'border-radius': '50%'}"
                :color="hover ? 'primary' : 'bg'"
                @click.stop="markComplete(todo)"
              >fas fa-check</v-icon>
            </v-hover>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ todo.title }}</v-list-tile-title>
            <v-list-tile-sub-title
              :class="[isOverdue(todo) ? 'error--text' : '']"
            >{{ todo.due_date | dateFilter }}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </transition-group>
    </v-list>

    <div v-if="user && user._id && !canAddTodo" class="pa-3 text-xs-center">
      <div class="headline mb-2">Let's get you started!</div>
      <div class="mb-2">It doesn't look like you have any todo lists yet. Use the menu on the left to create a list, or click the button below.</div>
      <v-btn
        color="primary"
        to="/todo/new"
        large
        class="bg--text"
      >
        New List
      </v-btn>
    </div>

    <!-- Dialog for editing -->
    <v-dialog
      v-model="showActions"
      full-width
      width="400px"
    >
      <v-card>
        <v-card-title v-html="activeTodo.title"></v-card-title>
      </v-card>
    </v-dialog>

    <!-- Bottom sheet -->
    <v-bottom-sheet

    >
      <v-card tile class="bg">
        <v-speed-dial
          v-model="fab"
          absolute top right
          direction="left"
          :open-on-hover="$vuetify.breakpoint.smAndUp"
          :style="{'top': '0%'}"
          v-show="activeTodo && !editMode"
        >
          <!-- Activator -->
          <v-btn
            slot="activator"
            v-model="fab"
            color="primary"
            fab
          >
            <v-icon color="bg">fas fa-bars</v-icon>
            <v-icon color="bg">fas fa-times</v-icon>
          </v-btn>
          <!-- Mark Complete -->
          <v-btn
            fab color="success"
            @click="markComplete(activeTodo); showActions = false;"
          >
            <v-icon>fas fa-check</v-icon>
          </v-btn>
          <!-- Edit -->
          <v-btn
            fab color="info"
            @click="editActiveTodo"
          >
            <v-icon>fas fa-edit</v-icon>
          </v-btn>
          <!-- Delete -->
          <v-btn
            fab color="error"
            @click="deleteTodo(activeTodo)"
          >
            <v-icon>fas fa-trash</v-icon>
          </v-btn>
        </v-speed-dial>

        <v-btn
          fab absolute top right
          color="success"
          v-if="activeTodo && editMode"
          @click="saveActiveTodo"
          :disabled="!formValid"
        >
          <v-icon>fas fa-save</v-icon>
        </v-btn>

        <!-- Display data -->
        <v-card-text v-show="!editMode" v-if="activeTodo">
          <div class="font-weight-bold" style="font-size: 16px;">{{ activeTodo.title }}</div>
          <div class="font-weight-light" v-if="activeTodo.list">{{ activeTodo.list }}</div>
          <div class="font-weight-light" :class="activeTodo.description ? ['mb-2'] : []">{{ activeTodo.due_date | dateFilter }}</div>
          <div v-if="activeTodo.description" v-html="activeTodo.description"></div>
        </v-card-text>
        <!-- Edit data -->
        <v-card-text v-if="editMode">
          <v-form v-model="formValid" @submit.prevent="saveEdit" ref="form">
            <!-- Title -->
            <v-textarea
              label="Title"
              v-model="title"
              :rules="titleRules"
              box autofocus
              ref="title"
              @keydown.enter.prevent="saveActiveTodo"
              :rows="1"
              auto-grow
            ></v-textarea>
            <!-- Date -->
            <gs-date-field
              v-model="due_date"
              label="Due Date"
            ></gs-date-field>
            <!-- Category/List -->
            <v-select
              v-if="canAddTodo && isNewTodo && !listId"
              label="List"
              :items="listsForSelect"
              v-model="todolist"
              box
            ></v-select>
            <!-- Description -->
            <v-textarea
              label="Description"
              v-model="description"
              box
              ref="description"
              @keydown.shift.enter="saveActiveTodo"
              auto-grow
              rows="1"
            ></v-textarea>
          </v-form>
        </v-card-text>
      </v-card>
    </v-bottom-sheet>

    <!-- Add new -->
    <transition enter-active-class="animated bounceIn faster" leave-active-class="animated fadeOut faster">
      <v-btn
        fab
        fixed top right
        color="primary"
        @click="startNewTodo(0)"
        v-show="!showActions && canAddTodo"
      >
        <v-icon color="bg">fas fa-plus</v-icon>
      </v-btn>
    </transition>
  </div>
</template>

<script>
import { format, isPast, endOfDay, addDays } from 'date-fns'
// import getUTCDate from '~/assets/js/getUTCDate'

import KEYMAP from '~/assets/js/KEYMAP'
import { getUTCDate, dateFilter } from '~/assets/js/FUNCTIONS'
import GsDateField from '~/components/GsDateField'

export default {
  props: {
    todos: Array,
    listId: {
      type: String,
      default: ""
    }
  },

  components: {GsDateField},

  data() {
    return {
      showActions: false,
      activeTodo: null,
      fab: false,

      editMode: false,
      formValid: false,

      title: "",
      titleRules: [v => !!v || 'This field is required.'],

      description: "",

      due_date: format(new Date(), `YYYY-MM-DD`),
      showDatePicker: false,

      todolist: null,
      todolistRules: [
        v => !!v || 'This field is required.'
      ]
    }
  },

  computed: {
    // User
    user() {
      return this.$store.state.user;
    },
    // All lists user is a member of
    todoLists() {
      return [...this.$store.state.member_todolists].sort((a,b) => {
        if (a.title < b.title) return -1;
        else if (a.title > b.title) return 1;
        else return 0;
      });
    },
    // Can only add a todo if a list exists
    canAddTodo() {
      return this.todoLists && this.todoLists.length > 0;
    },
    // Formatted Lists
    listsForSelect() {
      return this.todoLists.map(list => {return {value: list._id, text: list.title}});
    },

    // Check if active todo is a new one
    isNewTodo() {
      if (!this.activeTodo) return false;
      return this.activeTodo._id == "";
    }
  },

  watch: {
    showActions() {
      if (this.showActions == false) {
        this.editMode = false;
        this.fab = false;
        this.activeTodo = null;
        this.due_date = format(new Date(), `YYYY-MM-DD`);
      }
    }
  },

  filters: {
    dateFilter
  },

  methods: {
    isOverdue(todo) {
      return isPast(endOfDay(getUTCDate(todo.due_date)))
    },

    inspect(todo) {
      this.activeTodo = todo;
      this.showActions = true;
    },

    startNewTodo(daysOut = 0) {
      if (!this.canAddTodo) return false;
      this.activeTodo = {
        _id: "",
        title: "",
        description: "",
        due_date: addDays(new Date(), daysOut),
        todolist: this.listId ? this.listId : this.listsForSelect[0].value
      };
      this.showActions = true;
      this.editActiveTodo();
    },

    // Start editing active todo
    editActiveTodo() {
      this.title = this.activeTodo.title;
      this.description = this.activeTodo.description;
      this.due_date = format(this.activeTodo.due_date, `YYYY-MM-DD`);
      this.todolist = this.activeTodo.todolist;
      if (this.$refs.form) this.$refs.form.resetValidation();
      // Show edit mode
      this.editMode = true;
      try {this.$nextTick(this.$refs.title.focus); } catch(err) {}
    },

    exitEditMode() {
      this.editMode = false;
      this.showActions = false;
      this.activeTodo = null;
      if (this.$refs.form) {
        this.$refs.form.resetValidation();
      }
    },

    // Mark a todo complete
    markComplete(todo) {
      this.$axios
        .put(`/todos/markComplete/${todo._id}`)
        .then(res => res.data)
        .then(todo => {
          this.$store.commit('todo_upsert', todo);
          this.$store.commit('snackbar', {type: "success", message: `Todo complete!`});
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Couldn't update todo.`});
        })
    },

    // Delete a todo
    deleteTodo(todo) {
      // let conf = confirm("Are you sure you want to delete this? There is no un-doing this action.");
      // if (!conf) return false;

      this.$axios
        .delete(`/todos/${todo._id}`)
        .then(res => res.data)
        .then(todo => {
          this.$store.commit('todo_delete', todo);
          this.$store.commit('snackbar', {type: "success", message: `Todo deleted.`});
          this.showActions = false;
          this.activeTodo = null;
        })
        .catch((err) => {
          this.$store.commit('snackbar', {type: "error", message: `Couldn't delete todo.`});
        })
    },

    // Save edits on activeTodo
    saveActiveTodo() {
      if (!this.formValid) return false;

      if (this.isNewTodo) {
        // Due stuff
        return this.$axios
          .post(`/todos`, {
            title: this.title,
            description: this.description,
            due_date: getUTCDate(this.due_date),
            list: this.todolist
          })
          .then(res => res.data)
          .then(todo => {
            this.$store.commit('todo_upsert', todo);
            this.$store.commit('snackbar', {type: "success", message: `Todo created.`});
            this.editMode = false;
            this.showActions = false;
          })
          .catch(err => {
            this.$store.commit('snackbar', {type: "error", message: `Couldn't create todo.`});
          })
      } else {
        return this.$axios
          .put(`/todos/${this.activeTodo._id}`, {
            title: this.title,
            description: this.description,
            due_date: getUTCDate(this.due_date)
          })
          .then(res => res.data)
          .then(todo => {
            // console.log(todo);
            this.$store.commit('todo_upsert', todo);
            this.$store.commit('snackbar', {type: "success", message: `Todo saved.`});
            this.editMode = false;
            // this.activeTodo = this.todos.find(todo => todo._id == this.activeTodo._id);
            this.showActions = false;
          })
          .catch(err => {
            this.$store.commit('snackbar', {type: "error", message: `Couldn't update todo.`});
          })
      }
    },

    // Keyup listeners
    keyListener($event) {
      let code = $event.keyCode;

      switch (code) {
        // Enter key
        // Escape key
        case KEYMAP['Escape']:
          if (this.editMode) this.exitEditMode();
          if (this.showActions && !this.editMode) this.showActions = false;
          break;
        // 0 - 9 keys
        case KEYMAP['0']:
        case 49:
        case 50:
        case 51:
        case 52:
        case 53:
        case 54:
        case 55:
          if (!this.editMode) this.startNewTodo(code - 48);
          break;
        // n key. If not in edit mode, start new todo
        case KEYMAP['N']:
          if (!this.editMode) this.startNewTodo();
          break;
      }
    }
  },

  mounted() {
    window.addEventListener('keyup', this.keyListener);
  },

  beforeDestroy() {
    window.removeEventListener('keyup', this.keyListener);
  }
}
</script>
