<template>
  <v-card class="bg">
    <v-card-title class="font-weight-bold">Your Account</v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      Name: {{ user.fullname }}
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn to="/user/forgotpassword" flat>Reset Password</v-btn>
      <v-spacer></v-spacer>
      <v-btn
        flat @click="logout"
      >
        Logout
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  
  computed: {
    user() {
      return this.$store.state.user;
    }
  },

  methods: {
    logout() {
      this.$store.commit('updateUser', null);
      localStorage.removeItem('authToken');
      localStorage.removeItem('user');
      this.$router.push('/');
    }
  }
}
</script>
