<template>
  <v-container>
    <v-layout>
      <v-flex xs12 sm8 offset-sm2 md6 offset-md3>
        <v-alert
          :value="alertMessage != ''"
          :type="alertType"
          class="mb-3"
        >{{ alertMessage }}</v-alert>
        <!-- If requesting reset token -->
        <v-card v-if="!hasResetToken" class="bg">
          <v-card-title class="font-weight-bold">Reset Password</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-form v-model="requestFormValid" @submit.prevent="requestReset">
              <v-text-field
                type="email"
                label="Account Email"
                box
                v-model="email"
                :rules="emailRules"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="success"
              :disabled="!requestFormValid"
              @click="requestReset"
            >Reset Password</v-btn>
          </v-card-actions>
        </v-card>

        <!-- If have reset token -->
        <v-card v-if="hasResetToken">
          <v-card-title class="cardTitleColor">Choose new password</v-card-title>
          <v-card-text>
            <v-form v-model="resetFormValid" @submit.prevent="resetPassword">
              <v-text-field
                type="password"
                label="New Password"
                v-model="password"
                :rules="passwordRules"
                box
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="success"
              :disabled="!resetFormValid"
              @click="resetPassword"
            >Save Password</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import isEmail from 'validator/lib/isEmail';

export default {
  data() {
    return {
      alertMessage: "",
      alertType: "success",

      // For the request formt
      requestFormValid: false,
      email: "",
      emailRules: [
        v => !!v || 'This field is required.',
        v => isEmail(v) || 'Enter a valid email.'
      ],

      // For reset form
      resetFormValid: false,
      password: "",
      passwordRules: [
        v => !!v || 'This field is required.',
        v => v.length >= 5 || 'You password should contain at least 5 characters.'
      ]


    }
  }, // End data

  computed: {
    hasResetToken() {
      return this.$route.query.code && this.$route.query.code != "";
    }
  }, // End computed

  methods: {
    // Make request for reset
    requestReset() {
      if (!this.requestFormValid) return false;
      this.$axios
        .post('/auth/forgot-password', {
          email: this.email,
          url: `${process.env.SITE_BASE}/user/forgotpassword`
        })
        .then(res => {
          console.log(res);
          this.alertMessage = `You should have received an email with a link to reset your password.`;
          this.alertType = `success`;
        })
        .catch(err => {
          this.alertMessage = `Something went wrong. Try again (make sure you have the correct email.`;
          this.alertType = `error`;
        });
    },

    // Reset password
    resetPassword() {
      if (!this.resetFormValid) return false;
      this.$axios
        .post(`/auth/reset-password`, {
          code: this.$route.query.code,
          password: this.password,
          passwordConfirmation: this.password
        })
        .then(() => {
          this.$store.commit('snackbar', {type: "success", message: `Password reset.`});
          this.$router.push(`/user/login`);
        })
        .catch(err => {
          this.alertMessage = `Error resetting password.`;
          this.alertType = "error";
        })
    },
  },

  head() {
    return {
      title: "Password Reset"
    }
  }
}
</script>
