<template>
  <v-container>
    <v-layout>
      <v-flex xs12 sm8 offset-sm2 md6 offset-md3>
        <gs-user-details class="mb-3"></gs-user-details>
        <gs-theme-card></gs-theme-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import GsUserDetails from '~/components/GsUserDetails'
import GsThemeCard from '~/components/GsThemeCard'

export default {
  components: {GsUserDetails, GsThemeCard},

  data() {
    return {}
  },

  computed: {
    notificationPermission() {
      if (process.browser && Notification) return Notification.permission;
      return 'default';
    }
  },

  methods: {
    enableNotifications() {
      try {
        Notification.requestPermission();
      } catch(err) {alert(err);}
    }
  }
}
</script>
