<template>
  <v-container fill-height>
    <v-layout>
      <v-flex xs12 sm8 offset-sm2 md6 offset-md3>
        <v-card class="elevation-10 mb-3 bg">
          <v-card-title class="font-weight-bold">Login</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-form v-model="formValid" ref="form" @submit.prevent="tryLogin">
              <v-alert
                type="error"
                v-model="showLoginError"
                class="mb-3"
              >Login failed. Try again.</v-alert>
              <v-text-field
                type="email"
                box color="primary"
                label="Email"
                v-model="email"
                :rules="emailRules"
                autofocus
              ></v-text-field>
              <v-text-field
                type="password"
                box color="primary"
                label="Password"
                v-model="password"
                :rules="passwordRules"
              ></v-text-field>
              <v-btn
                :disabled="!formValid"
                color="success"
                block
                type="submit"
              >Login</v-btn>
            </v-form>
          </v-card-text>
        </v-card>
        <!-- Forgot your password? -->
        <v-alert :value="true" type="info">
          Forgot your password? <nuxt-link class="white--text" to="/user/forgotpassword">Click here.</nuxt-link>
        </v-alert>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import isEmail from 'validator/lib/isEmail';

export default {
  data() {
    return {
      formValid: false,

      email: "",
      emailRules: [
        v => !!v || 'This field is required.',
        v => isEmail(v) || 'Enter a valid email.'
      ],

      password: "",
      passwordRules: [
        v => !!v || 'This field is required.'
      ],

      showLoginError: false
    }
  },

  methods: {
    tryLogin() {
      if (!this.formValid) return false;
      
      return this.$axios
        .post('/auth/local', {
          identifier: this.email,
          password: this.password
        })
        .then(res => res.data)
        .then(async data => {
          localStorage.setItem('authToken', data.jwt);
          await this.$store.dispatch('fetchUserDetails');
          this.showLoginError = false;
          this.$router.push('/calendar')
          return true;
        })
        .catch(err => {
          console.log(err);
          this.showLoginError = true;
        })

    }
  },

  head() {
    return {
      title: "Login"
    }
  }
}
</script>
