<template>
  <div>
    <gs-general-toolbar></gs-general-toolbar>
    <div class="text-xs-center pa-5">
      <div class="title mb-3">Logging out...</div>
      <v-progress-circular
        indeterminate
        size="50"
      ></v-progress-circular>
    </div>
  </div>
</template>

<script>
import GsGeneralToolbar from '~/components/GsGeneralToolbar'

export default {
  components: {GsGeneralToolbar},

  created() {
    if (process.browser) {
      localStorage.removeItem('authToken');
      localStorage.removeItem('user');
      this.$store.commit('updateUser', null);
      this.$router.push('/');
    }
  }
}
</script>
