<template>
  <v-container fill-height>
    <v-layout>
      <v-flex xs12 sm8 offset-sm2 md6 offset-md3 class="d-flex align-center">
        <v-card class="elevation-10 bg">
          <v-card-title class="font-weight-bold">Signup</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-form v-model="formValid" ref="form" @submit.prevent="trySignup">
              <v-alert
                type="error"
                v-model="showLoginError"
                class="mb-3"
              >Signup failed. Try again.</v-alert>
              <v-text-field
                type="email"
                box color="primary"
                label="Email"
                v-model="email"
                :rules="emailRules"
              ></v-text-field>
              <v-text-field
                type="password"
                box color="primary"
                label="Password"
                v-model="password"
                :rules="passwordRules"
              ></v-text-field>
              <v-text-field
                box color="primary"
                label="Full name"
                v-model="fullname"
                :rules="fullnameRules"
              ></v-text-field>
              <v-btn
                :disabled="!formValid"
                color="success"
                block
                type="submit"
              >Signup</v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import isEmail from 'validator/lib/isEmail';

export default {
  data() {
    return {
      formValid: false,

      email: "",
      emailRules: [
        v => !!v || 'This field is required.',
        v => isEmail(v) || 'Enter a valid email.'
      ],

      password: "",
      passwordRules: [
        v => !!v || 'This field is required.',
        v => v.length >= 5 || 'Password must be at least 5 characters long.'
      ],

      fullname: "",
      fullnameRules: [
        v => !!v || 'This field is required.'
      ],

      showLoginError: false
    }
  },

  methods: {
    trySignup() {
      if (!this.formValid) return false;
      
      return this.$axios
        .post('/auth/local/register', {
          username: this.email,
          email: this.email,
          password: this.password,
          fullname: this.fullname
        })
        .then(res => res.data)
        .then(async data => {
          localStorage.setItem('authToken', data.jwt);
          await this.$store.dispatch('fetchUserDetails');
          this.showLoginError = false;
          this.$router.push('/todo')
          return true;
        })
        .catch(err => {
          console.log(err);
          this.showLoginError = true;
        })

    }
  },

  head() {
    return {
      title: "Signup"
    }
  }
}
</script>
