<template>
  <v-container>
    <v-layout>
      <v-flex xs12 sm8 offset-sm2 md6 offset-md3>
        <gs-theme-card class="mb-3"></gs-theme-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import GsThemeCard from '~/components/GsThemeCard'

export default {
  components: {GsThemeCard}  
}
</script>
