<template>
  <v-app :dark="darkmode">
    <div id="particles" class="bg lighten-1"></div>
    <v-content>
      <nuxt />
    </v-content>
    <v-bottom-nav
      app
      :value="true"
      color="bg"
      :style="{'box-shadow': '0 -3px 3px rgba(0,0,0,0.12'}"
    >
      <v-btn
        v-for="(item,i) in navItems" :key="`nav-${i}`"
        flat
        color="primary"
        :to="item.to"
      >
        <span>{{ item.title }}</span>
        <v-icon size="22">{{ item.icon }}</v-icon>
      </v-btn>
    </v-bottom-nav>

    <v-snackbar
      v-model="showSnackbar"
      :timeout="2000"
      :color="snackbarType"
      bottom
      v-if="isLoggedIn"
    >
      {{ snackbarMessage }}
      <v-btn @click="showSnackbar = false" flat icon>
        <v-icon>fas fa-times</v-icon>
      </v-btn>
    </v-snackbar>

    <gs-loading-dialog></gs-loading-dialog>
  </v-app>
</template>

<script>
import GsLoadingDialog from '~/components/GsLoadingDialog'
import THEMES from '~/assets/js/THEMES'

if (process.browser) {
  require('particles.js')
}

export default {
  components: {GsLoadingDialog},

  data() {
    return {
      // navItems: ,
      
      // Handle snackbar
      showSnackbar: false,
      snackbarMessage: "",
      snackbarType: ""

    }
  },

  computed: {
    user() {
      return this.$store.state.user;
    },

    userTheme() {
      return this.$store.getters.userTheme;
    },

    snackbar() {
      return this.$store.state.snackbar;
    },

    isLoggedIn() {
      return this.user && this.user._id != "";
    },

    navItems() {
      let isLoggedIn = this.$store.getters.isLoggedIn;

      if (!isLoggedIn) {
        return [
          {title: "Home", icon: "fas fa-home", to: "/"},
          {title: "About", icon: "fas fa-info-circle", to: "/about"},
          {title: "Login", icon: "fas fa-user", to: "/user/login"},
          {title: "Register", icon: "fas fa-user-plus", to: "/user/signup"},
        ]
      } else {
        return [
          {title: "Home", icon: "fas fa-home", to: "/"},
          {title: "Calendar", icon: "fas fa-calendar-alt", to: "/calendar"},
          {title: "Lists", icon: "fas fa-clipboard-list", to: "/lists"},
          {title: "Account", icon: "fas fa-user", to: "/user"},
        ]
      }
    },

    darkmode() {
      if (!this.userTheme || !this.userTheme.mode) return true;
      else return this.userTheme.mode == 'dark';
    }
  },

  watch: {
    user(user) {
      console.log('user changed');
      if (user._id) {
        this.registerSocket();
      }
    }
  },

  // Paint with user's theme
  methods: {
    paintWithUserTheme() {
      let d = THEMES.find(t => t.id == 'default');
      // return false;

      let theme = this.userTheme;
      if (!theme) return false;

      this.$vuetify.theme = {
        primary: theme.primary || d.primary,
        bg: theme.bg || d.bg,
        success: theme.success || d.success,
        info: theme.info || d.info,
        warning: theme.warning || d.warning,
        error: theme.error || d.error,
      }

      // Particles
      particlesJS('particles', {
        "particles": {
          "number": {
            "value": 100,
            "density": {
              "enable": true,
              "value_area": 2000
            }
          },
          "color": {
            "value": this.$vuetify.theme.primary
          },
          "shape": {
            "type": "star",
            "stroke": {
              "width": 0,
              "color": this.$vuetify.theme.primary
            },
          },
          "opacity": {
            "value": 0.5,
            "random": true
          },
          "size": {
            "value": 5,
            "random": true,
            "anim": {
              "enable": false
            }
          },
          "line_linked": {
            "enable": false,
            "distance": 500,
            "color": "#ffffff",
            "opacity": 0.4,
            "width": 2
          },
          "move": {
            "enable": true,
            "speed": 1,
            
            "random": false,
            "straight": false,
            "out_mode": "out",
            "bounce": false,
            "attract": {
              "enable": false,
              "rotateX": 600,
              "rotateY": 1200
            }
          }
        },
        
        "retina_detect": true
      });
    },

    registerSocket() {

      if (this.user._id) {
        this.$socket.emit("join", `user-${this.user._id}`);
        this.$socket.on('user_update', user => this.$store.commit('updateUser', user));

        this.$socket.on('calendar_upsert', todo => this.$store.commit('calendar_upsert', todo));
        this.$socket.on('calendar_delete', todo => this.$store.commit('calendar_delete', todo));
        this.$socket.on('calendaritem_upsert', todo => this.$store.commit('calendaritem_upsert', todo));
        this.$socket.on('calendaritem_delete', todo => this.$store.commit('calendaritem_delete', todo));

        this.$socket.on('listitem_upsert', listitem => this.$store.commit('listitem_upsert', listitem));
        this.$socket.on('listitem_delete', listitem => this.$store.commit('listitem_delete', listitem));
        this.$socket.on('list_upsert', list => this.$store.commit('list_upsert', list));
        this.$socket.on('list_delete', list => this.$store.commit('list_delete', list));

        this.$store.dispatch('fetchCalendars');
        this.$store.dispatch('fetchLists');
      }
    }
  }, // End methods

  watch: {
    snackbar() {
      if (this.snackbar.message != "") {
        this.snackbarMessage = this.snackbar.message;
        this.snackbarType = this.snackbar.type;
        this.showSnackbar = true;
        this.$store.commit('snackbar', null);
      }
    },

    // Watch user's theme, and paint when updated
    userTheme(theme) {
      this.paintWithUserTheme();
    }
  },

  // On created
  created() {},

  // On creation, fetch user details
  async mounted() {
    if (process.browser) {
      await this.$store.dispatch('fetchUserDetails');
      this.$socket.on('connect', this.registerSocket);
      this.registerSocket();
      this.paintWithUserTheme();
    }
  }
}
</script>


<style lang="stylus">
i.v-icon {
  font-size: 1.2em;
}

#particles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // z-index: -1;
}

.v-speed-dial__list {
  padding-right: 8px;
}
</style>