<template>
  <div>
    <gs-general-toolbar></gs-general-toolbar>
    <v-container>
      About.
    </v-container>
  </div>
</template>

<script>
import GsGeneralToolbar from '~/components/GsGeneralToolbar'

export default {
  components: {GsGeneralToolbar}  
}
</script>
