<template>
  <div class="fill-height">
    <!-- Nav drawer -->
    <v-navigation-drawer
      v-model="sidenav"
      app
      :mobile-break-point="850"
      class="bg"
      clipped
    >
      <v-list>
        <!-- Header / close -->
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>Schedule</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action @click="sidenav = false" v-show="$vuetify.breakpoint.xs" style="cursor:pointer">
            <v-icon>fas fa-times</v-icon>
          </v-list-tile-action>
        </v-list-tile>

        <!-- All Calendars -->
        <v-list-tile to="/calendar" exact active-class="font-weight-bold primary--text">
          <v-list-tile-action>
            <v-btn icon>
              <v-icon>fas fa-calendar-alt</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>All Calendars</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <!-- Calendars -->
        <v-divider></v-divider>
        <v-subheader>Calendars</v-subheader>

        <v-list-tile
          v-for="calendar in calendars" :key="calendar._id"
          :to="`/calendar/list?_id=${calendar._id}`" exact
          active-class="font-weight-bold primary--text"
        >
          <v-list-tile-action>
            <v-btn icon :to="`/calendar/settings?_id=${calendar._id}`" exact>
              <v-icon>fas fa-cog</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ calendar.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <!-- New Calendar -->
        <v-list-tile to="/calendar/new" exact active-class="font-weight-bold primary--text">
          <v-list-tile-action>
            <v-btn icon>
              <v-icon>fas fa-plus</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Add Calendar</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <gs-avocado-footer></gs-avocado-footer>
    </v-navigation-drawer>
    <!-- End drawer -->

    <!-- Toolbar -->
    <v-toolbar
      app dense color="bg" clipped-left
    >
      <v-toolbar-side-icon @click="sidenav = !sidenav"></v-toolbar-side-icon>
      <v-toolbar-title v-html="navbarTitle"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <!-- Render the rest -->
    <nuxt-child />

  </div>
</template>

<script>
import { format } from 'date-fns'

import GsAvocadoFooter from '~/components/GsAvocadoFooter'

export default {
  components: {GsAvocadoFooter},

  data() {
    return {
      sidenav: null,

      date: format(new Date(), `YYYY-MM-DD`)
    }
  },

  computed: {
    navbarTitle() {
      return "Calendar"
    },

    // Calendars
    calendars() {
      return [...this.$store.state.member_calendars].sort((a,b) => {
        if (a.title < b.title) return -1;
        else if (a.title > b.title) return 1;
        else return 0;
      });
    }
  }
}
</script>
