<template>
  <div>
    <gs-general-toolbar></gs-general-toolbar>

    <div
      class="d-flex align-center justify-center"
      :style="{
        'height': `calc(100vh - ${$vuetify.breakpoint.smAndDown ? 112 : 120}px)`
      }"
    >
      <v-img
        :src="require('~/assets/img/logo-shadow.svg')"
        :max-width="250"
        fluid
        class="ma-3"
      ></v-img>

    </div>
  </div>
</template>

<script>
import GsGeneralToolbar from '~/components/GsGeneralToolbar'

export default {
  components: {GsGeneralToolbar},

  data() {
    return {
      // iconSize: 84
    }
  },

  computed: {
    user() {
      return this.$store.state.user;
    },

    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },

  methods: {
    logout() {
      localStorage.removeItem('authToken');
      localStorage.removeItem('user');
      // this.$store.dispatch('fetchUserDetails');
      this.$store.commit('updateUser', null);
    }
  },

  mounted() {
    // window.addEventListener('beforeinstallprompt', (e) => {
    //   console.log(e);
    // })
  },

  head() {
    return {
      title: "Avocalendar"
    }
  }
}
</script>
