<template>
  <div>
    <!-- Navigation drawer -->
    <v-navigation-drawer
      v-model="sidenav"
      app
      :mobile-break-point="850"
      class="bg"
      clipped
    >
      <v-list>
        <!-- Header / close -->
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>Lists</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action @click="sidenav = false" v-show="$vuetify.breakpoint.xs" style="cursor:pointer">
            <v-icon>fas fa-times</v-icon>
          </v-list-tile-action>
        </v-list-tile>

        <!-- Show all lists -->
        <v-list-tile to="/lists" exact active-class="font-weight-bold primary--text">
          <v-list-tile-action>
            <v-btn icon>
              <v-icon>fas fa-clipboard-list</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>All Lists</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider v-if="lists.length > 0"></v-divider>

        <!-- List the lists -->
        <v-list-tile
          v-for="list in lists" :key="list._id"
          :to="`/lists/view?_id=${list._id}`"
          exact active-class="font-weight-bold primary--text"
        >
          <v-list-tile-action>
            <v-btn icon :to="`/lists/settings?_id=${list._id}`" exact>
              <v-icon>fas fa-cog</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ list.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider v-if="lists.length > 0"></v-divider>

        <!-- New list -->
        <v-list-tile
          to="/lists/new" exact active-class="font-weight-bold primary--text"
        >
          <v-list-tile-action>
            <v-btn icon>
              <v-icon>fas fa-plus</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>New List</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

      </v-list>
    </v-navigation-drawer>

    <!-- Toolbar -->
    <v-toolbar
      app dense
      color="bg"
      clipped-left fixed
    >
      <v-toolbar-side-icon @click="sidenav = !sidenav"></v-toolbar-side-icon>
      <v-toolbar-title v-html="navbarTitle"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <nuxt-child />


  </div>
</template>

<script>
export default {
  data() {
    return {
      sidenav: null
    }
  },

  computed: {
    lists() {
      return [...this.$store.state.member_lists].sort((a,b) => {
        if (a.title < b.title) return -1;
        if (a.title > b.title) return 1;
        return 0;
      })
    },

    navbarTitle() {
      return this.$store.state.title;
    }
  }
}
</script>
