<template>
  <div class="fill-height">
    <!-- Navdrawer -->
    <v-navigation-drawer
      v-model="sidenav"
      app
      :mobile-break-point="850"
      class="bg"
      clipped
    >
      <v-list>
        <!-- Header / close -->
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>Notes</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action @click="sidenav = false" v-show="$vuetify.breakpoint.xs" style="cursor:pointer">
            <v-icon>fas fa-times</v-icon>
          </v-list-tile-action>
        </v-list-tile>

        <!-- Header / close -->
        <v-list-tile to="/notes" exact active-class="font-weight-bold primary--text">
          <v-list-tile-action>
            <v-btn icon>
              <v-icon>fas fa-pencil-alt</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Scratch Pad</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider></v-divider>

        <!-- Add new -->
        <v-list-tile to="/notes/new" exact active-class="font-weight-bold primary--text">
          <v-list-tile-action>
            <v-btn icon>
              <v-icon>fas fa-plus</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>New Notelist</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <!-- <v-divider></v-divider> -->

        <!-- Current lists -->
        <v-list-group
          v-for="notelist in notelists" :key="notelist._id"
        >
          <!-- Activator/notelist settings -->
          <v-list-tile slot="activator">
            <v-list-tile-action>
              <v-btn icon>
                <v-icon>fas fa-cog</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ notelist.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <!-- LIst the notes -->
          <v-list-tile
            v-for="note in notelist.notes" :key="note._id"
            :to="`/notes/view?list_id=${notelist._id}&_id=${note._id}`"
            exact active-class="font-weight-bold primary--text"
          >
            <v-list-tile-action>
              <v-btn icon>
                <v-icon>fas fa-cog</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ note.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <!-- Add new -->
          <v-list-tile>
            <v-list-tile-action>
              <v-btn icon>
                <v-icon>fas fa-plus</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>New Note</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

        </v-list-group>


      </v-list>

      <gs-avocado-footer></gs-avocado-footer>
    </v-navigation-drawer>

    <!-- Toolbar -->
    <v-toolbar
      app dense
      color="bg"
      clipped-left fixed
    >
      <v-toolbar-side-icon @click="sidenav = !sidenav"></v-toolbar-side-icon>
      <v-toolbar-title v-html="navbarTitle"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>


    <nuxt-child />
  </div>
</template>

<script>
import GsAvocadoFooter from '~/components/GsAvocadoFooter'

export default {
  components: {GsAvocadoFooter},
  
  data() {
    return {
      sidenav: null
    }
  },

  computed: {
    notelists() {
      return this.$store.state.member_notelists;
    },

    navbarTitle() {
      switch (this.$route.path) {
        case "/notes": return "Scratch Pad";

        default: return "Notes";
      }
    }
  },

  created() {
    this.$store.dispatch('fetchNotelists');
  }
  
}
</script>
