<template>
  <div class="fill-height">
    <!-- Side nav -->
    <v-navigation-drawer
      v-model="sidenav"
      app
      :mobile-break-point="850"
      class="bg"
      clipped
    >

      <!-- <v-toolbar>

      </v-toolbar> -->

      <v-list>
        <!-- Header / close -->
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>Todo</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action @click="sidenav = false" v-show="$vuetify.breakpoint.xs" style="cursor:pointer">
            <v-icon>fas fa-times</v-icon>
          </v-list-tile-action>
        </v-list-tile>

        <!-- All items -->
        <v-list-tile to="/todo" exact active-class="font-weight-bold primary--text" ref="allItems">
          <v-list-tile-action>
            <v-btn icon>
              <v-icon>fas fa-list</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>All</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <span >{{ count_incomplete(todos) }}</span>
          </v-list-tile-action>
        </v-list-tile>

        <!-- Todays items -->
        <v-list-tile to="/todo/today" exact active-class="font-weight-bold primary--text" ref="todoysItems">
          <v-list-tile-action>
            <v-btn icon>
              <v-icon>fas fa-calendar-day</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Today</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <span >{{ numDueToday }}</span>
          </v-list-tile-action>
        </v-list-tile>

        <!-- Next week -->
        <v-list-tile to="/todo/nextweek" exact active-class="font-weight-bold primary--text">
          <v-list-tile-action>
            <v-btn icon>
              <v-icon>fas fa-calendar-week</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Next 7 days</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <span >{{ numDueThisWeek }}</span>
          </v-list-tile-action>
        </v-list-tile>

        <!-- Todo Lists -->
        <v-divider></v-divider>
        <v-subheader>Todo Lists</v-subheader>
        <!-- Loop through user's projects -->
        <v-list-tile
          v-for="(list, I) in todoLists" :key="`todo-list-${I}`"
          :to="`/todo/list?_id=${list._id}`" exact active-class="font-weight-bold primary--text"
        >
          <v-list-tile-action>
            <v-btn :to="`/todo/settings?_id=${list._id}`" icon exact>
              <v-icon>fas fa-cog</v-icon>
            </v-btn>            
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ list.title }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <span>{{ count_incomplete(list.todos) }}</span>
          </v-list-tile-action>
        </v-list-tile>
        <!-- New Project -->
        <v-list-tile to="/todo/new" exact active-class="font-weight-bold primary--text">
          <v-list-tile-action>
            <v-btn icon>
              <v-icon>fas fa-plus</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Add List</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>

        
        <!-- Projects -->
        <!-- <v-list-group no-action :value="true">
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>To-do Lists</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          
        </v-list-group> -->

        <!-- Next week -->
        <v-list-tile to="/todo/completed" exact active-class="font-weight-bold primary--text">
          <v-list-tile-action>
            <v-btn icon>
              <v-icon>fas fa-check</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Recently Completed</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <span >{{ numCompleted }}</span>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>

      <gs-avocado-footer></gs-avocado-footer>
    </v-navigation-drawer>

    <!-- Toolbar -->
    <v-toolbar
      app dense
      color="bg"
      clipped-left fixed
    >
      <v-toolbar-side-icon @click="sidenav = !sidenav"></v-toolbar-side-icon>
      <v-toolbar-title v-html="navbarTitle"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    
    <nuxt-child />

  </div>
</template>

<script>
import { isToday, isBefore, addDays } from 'date-fns'
import getUTCDate from '~/assets/js/getUTCDate'
const now = new Date();
import KEYMAP from '~/assets/js/KEYMAP'

import GsAvocadoFooter from '~/components/GsAvocadoFooter'

export default {
  components: {GsAvocadoFooter},
  
  data() {
    return {
      sidenav: null
    }
  },

  computed: {
    // Nav title
    navbarTitle() {
      switch (this.$route.path) {
        case "/todo": return "All Todos";
        case "/todo/today": return "Today";
        case "/todo/nextweek": return "Next 7 days";
        case "/todo/new": return "New List";
        case "/todo/completed": return "Completed";
        case "/todo/list":
          let list_id = this.$route.query._id,
              list = this.todoLists.find(l => l._id == list_id);
          return list ? list.title : "List";
        case "/todo/settings": return "List Settings";
        default: return "Todos";
      }
    },
    // User's todos
    todos() {
      return this.$store.getters.allTodos;
    },
    // Todo-lists
    todoLists() {
      return [...this.$store.state.member_todolists].sort((a,b) => {
        if (a.title < b.title) return -1;
        else if (a.title > b.title) return 1;
        else return 0;
      });
    },
    // Determine how many due today
    numDueToday() {
      return this.todos.reduce((sum, item) => {
        return sum + ((!item.completed && isToday(getUTCDate(item.due_date))) ? 1 : 0)
      }, 0);
    },
    // Number due this week
    numDueThisWeek() {
      return this.todos.reduce((sum, item) => {
        return sum + ((!item.completed && isBefore(getUTCDate(item.due_date), addDays(now, 7))) ? 1 : 0)
      }, 0)
    },
    // Number completed
    numCompleted() {
      return this.todos.reduce((sum, item) => {
        return sum + (item.completed ? 1 : 0);
      }, 0);
    }

  },

  // Methods
  methods: {
    count_incomplete(todolist) {
      return todolist.reduce((sum, item) => sum + (item.completed ? 0 : 1), 0);
    },

    keyListener($event) {
      let code = $event.keyCode;

      switch(code) {
        case KEYMAP['M']:
          this.sidenav = !this.sidenav;
          break;
        case KEYMAP['ArrowRight']:
          this.sidenav = true;
          break;
        case KEYMAP['ArrowLeft']:
          this.sidenav = false;
          break;
      }
    }
  }, // End methods

  // On mount, we fetch todo-lists
  created() {
    this.$store.dispatch('fetchTodoLists');
  },

  mounted() {
    this.$socket.on('todo_upsert', todo => this.$store.commit('todo_upsert', todo));
    this.$socket.on('todo_delete', todo => this.$store.commit('todo_delete', todo));
  },
  beforeDestroy() {
    this.$socket.off('todo_upsert');
    this.$socket.off('todo_delete');
  }

  // Register some key listeners
  // mounted() {
  //   window.addEventListener('keyup', this.keyListener);
  // },
  // beforeDestroy() {
  //   window.removeEventListener('keyup', this.keyListener);
  // }
}
</script>