<template>
  <div>
    <!-- <gs-general-toolbar></gs-general-toolbar> -->
    <nuxt-child />
  </div>
</template>

<script>
import GsGeneralToolbar from '~/components/GsGeneralToolbar'

export default {
  components: {GsGeneralToolbar}
}
</script>
