<template>
  <div class="fill-height">
    <gs-calendar
      :calendar-items="calendarItems"
    ></gs-calendar>
  </div>
</template>

<script>
import GsCalendar from '~/components/GsCalendar'
import GsCalendarr from '~/components/GsCalendarr'
import { format } from 'date-fns'

const today = format(new Date(), `YYYY-MM-DD`);

export default {
  components: {GsCalendar, GsCalendarr},

  data: () => ({
    today: today
  }),

  computed: {
    calendarItems() {
      return [...this.$store.getters.allCalendarItems];
    },

    eventsMap() {
      let map = {};
      this.calendarItems.forEach(evt => {
        let fdate = format(evt.start_date, `YYYY-MM-DD`);
        map[fdate] = map[fdate] || [];
        map[fdate].push(evt);
      });
      return map;
    }
  }, // End computed

  methods: {
    dayClick(e) {
      alert(e);
    }
  }

}
</script>