<template>
  <div>
    <gs-calendar
      :calendarItems="calendarItems"
      :calendar-id="calendar ? calendar._id : ''"
    ></gs-calendar>
  </div>
</template>

<script>
import GsCalendar from '~/components/GsCalendar'

export default {
  components: {GsCalendar},

  computed: {
    calendar() {
      let _id = this.$route.query._id;
      return this.$store.state.member_calendars.find(calendar => calendar._id == _id);
    },

    calendarItems() {
      return this.calendar ? this.calendar.calendaritems : [];
    }
  }
}
</script>
