<template>
  <div class="pa-3">
    <v-card class="bg">
      <v-card-title class="font-weight-bold">New Calendar</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form v-model="formValid" @submit.prevent="addCalendar">
          <v-text-field
            autofocus
            label="Title"
            v-model="title"
            :rules="titleRules"
            box
          ></v-text-field>
          <v-textarea
            label="Description"
            v-model="description"
            box
          ></v-textarea>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="success"
          :disabled="!formValid"
          @click="addCalendar"
        >
          <v-icon>fas fa-save</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>


<script>
export default {
  data() {
    return {
      formValid: false,

      // Title
      title: "",
      titleRules: [v => !!v || 'This field is required.'],
      // Description
      description: ""
    }
  },

  methods: {
    addCalendar() {
      if (!this.formValid) return false;

      this.$store.commit('isLoading', true);
      this.$axios
        .post(`/calendars`, {
          title: this.title,
          description: this.description
        })
        .then(res => res.data)
        .then(async (calendar) => {
          await this.$store.dispatch('fetchCalendars');
          this.$store.commit('isLoading', false);
          return this.$router.push(`/calendar/list?_id=${calendar._id}`)
        })
        .catch(err => {
          this.$store.commit('isLoading', false);
          this.$store.commit('snackbar', {type: "error", message: `Error creating calendar.`});
        })
    }
  }
}
</script>
