<template>
  <div class="pa-3">
    <template v-if="theCalendar && theCalendar.owner && user && user._id && theCalendar.owner == user._id">
      <v-card class="bg mb-3">
        <v-card-title class="font-weight-bold">Edit Calendar Settings</v-card-title>
        <v-card-text>
          <v-form v-model="formValid" @submit.prevent="save">
            <v-text-field
                label="Title"
                v-model="title"
                :rules="titleRules"
                box
              ></v-text-field>
              <v-textarea
                label="Description"
                v-model="description"
                box
              ></v-textarea>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
          <v-card-actions>
            <v-btn
              color="error"
              @click="deleteCalendar"
            >
              <v-icon>fas fa-trash</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
              color="success"
              :disabled="!formValid"
              @click="save"
            >
              <v-icon>fas fa-save</v-icon>
            </v-btn>
          </v-card-actions>
      </v-card>

      <v-card class="bg mb-3">
        <v-card-title class="font-weight-bold">Members</v-card-title>
        <v-divider></v-divider>
        <v-list class="py-0 bg" two-line>
          <v-list-tile
            v-for="member in members" :key="member._id"
          >
            <v-list-tile-action>
              <v-btn
                color="error"
                @click="removeMemberFromCalendar(member)"
                icon
                :disabled="member._id == user._id"
              >
                <v-icon>fas fa-trash</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ member.email }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ member.fullname }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>

      <!-- Add new member -->
      <v-card class="bg">
        <v-card-title class="font-weight-bold">New member</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form v-model="newMemberFormValid" @submit.prevent="addMember" ref="newMemberForm">
            <v-text-field
              type="email"
              label="User Email"
              v-model="newMemberEmail"
              :rules="newMemberEmailRules"
              box
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            :disabled="!newMemberFormValid"
            @click="addMember"
          >
            <v-icon>fas fa-plus</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>

    </template>
    <!-- Just a member -->
    <template v-else>
      <v-btn
        color="error"
        block
        @click="leaveCalendar"
      >
        Leave Calendar
        <v-icon right>fas fa-hand-peace</v-icon>
      </v-btn>
    </template>
  </div>
</template>

<script>
import isEmail from 'validator/lib/isEmail';

export default {
  data() {
    return {
      formValid: false,
      // Title
      title: "",
      titleRules: [v => !!v || 'This field is required.'],
      // Description
      description: "",

      newMemberFormValid: false,
      newMemberEmail: "",
      newMemberEmailRules: [
        v => !!v || 'This field is required.',
        v => isEmail(v) || 'Enter a valid email.'
      ]
    }
  },

  computed: {
    user() {return this.$store.state.user},

    theCalendar() {
      let id = this.$route.query._id,
          calendar = this.$store.state.member_calendars.find(cal => cal._id == id);
      return calendar ? calendar : null;
    },

    members() {
      return this.theCalendar.members;
    }
  },

  methods: {
    save() {
      if (!this.formValid) return false;

      this.$store.commit('isLoading', true);
      this.$axios
        .put(`/calendars/${this.$route.query._id}`, {
          title: this.title,
          description: this.description,
        })
        .then(async () => {
          await this.$store.dispatch('fetchCalendars');
          this.$store.commit('isLoading', false);
          return this.$router.push(`/calendar/list?_id=${this.$route.query._id}`)
        })
        .catch(err => {
          this.$store.commit('isLoading', false);
          this.$store.commit('snackbar', {type: "error", message: `Could not save settings.`})
        })
    },

    deleteCalendar() {
      let conf = confirm(`Are you SURE you want to delete this calendar?`);
      if (!conf) return false;

      this.$store.commit('isLoading', true);
      this.$axios
        .delete(`/calendars/${this.$route.query._id}`)
        .then(async () => {
          await this.$store.dispatch('fetchCalendars');
          this.$store.commit('isLoading', false);
          return this.$router.push(`/calendar`)
        })
        .catch(err => {
          this.$store.commit('isLoading', false);
          this.$store.commit('snackbar', {type: "error", message: `Error. Try again.`})
        })
    },

    leaveCalendar() {
      let conf = confirm("Are you sure you want to leave this calendar?");
      if (!conf) return false;

      this.$store.commit('isLoading', true);
      this.$axios
        .put(`/calendars/leaveCalendar/${this.$route.query._id}`)
        .then(async () => {
          await this.$store.dispatch('fetchCalendars');
          this.$store.commit('isLoading', false);
          return this.$router.push(`/calendar`)
        })
        .catch(err => {
          this.$store.commit('isLoading', false);
          this.$store.commit('snackbar', {type: "error", message: `Error. Try again.`})
        })
    },

    removeMemberFromCalendar(member) {
      if (this.theCalendar.owner != this.user._id) return false;

      this.$axios
        .put(`/calendars/${this.theCalendar._id}/removeMember/${member._id}`)
        .then(res => res.data)
        .then(async calendar => {
          await this.$store.dispatch('fetchCalendars');
          this.$store.commit('snackbar', {type: "success", message: `Member removed.`});
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Error removing user.`})
        })
    },

    addMember() {
      if (this.theCalendar.owner != this.user._id || !this.newMemberFormValid) return false;
      
      this.$axios
        .put(`/calendars/${this.theCalendar._id}/addMember/${this.newMemberEmail}`)
        .then(res => res.data)
        .then(async todolist => {
          await this.$store.dispatch('fetchCalendars');
          this.$store.commit('snackbar', {type: "success", message: `Member added.`});
          this.newMemberEmail = "";
          this.$refs.newMemberForm.resetValidation();
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Couldn't find this user.`})
        })
    }
  },

  mounted() {
    let id = this.$route.query._id,
        calendar = this.$store.state.member_calendars.find(cal => cal._id == id);

    if (!calendar) {
      return this.$router.push(`/calendar/list?_id=${id}`)
    }

    this.title = calendar.title;
    this.description = calendar.description;
  }
}
</script>
