<template>
  <div>
    <v-list two-line class="bg py-0">
      <v-list-tile
        v-for="list in lists" :key="list._id"
        :to="`/lists/view?_id=${list._id}`"
      >
        <v-list-tile-content>
          <v-list-tile-title>{{ list.title }}</v-list-tile-title>
          <v-list-tile-sub-title v-if="list.description" v-html="list.description"></v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-btn
            icon
            :to="`/lists/settings?_id=${list._id}`"
          >
            <v-icon>fas fa-cog</v-icon>
          </v-btn>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
import {storeTitle} from '~/mixins/storeTitle'

export default {
  mixins: [storeTitle('All Lists')],

  computed: {
    lists() {
      return [...this.$store.state.member_lists]
        .sort((a, b) => {
          if (a.title < b.title) return -1;
          if (a.title > b.title) return 1;
          return 0;
        });
    }
  }
}
</script>
