<template>
  <div class="pa-3">
    <v-card class="bg">
      <v-card-title class="font-weight-bold">New List</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form v-model="formValid" @submit.prevent="addList">
          <!-- Title -->
          <v-textarea
            label="Title"
            v-model="title" :rules="titleRules"
            box autofocus
            :rows="1" auto-grow
          ></v-textarea>
          <!-- Description -->
          <v-textarea
            label="Description"
            v-model="description"
            box
            :rows="1" auto-grow
          ></v-textarea>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="success"
          :disabled="!formValid"
          @click="addList"
        >
          <v-icon>fas fa-save</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      formValid: false,
      // Title
      title: "",
      titleRules: [v => !!v || 'This field is required.'],
      // Description
      description: ""
    }
  },

  methods: {
    addList() {
      if (!this.formValid) return false;

      return this.$axios
        .post(`/lists`, {
          title: this.title,
          description: this.description
        })
        .then(res => res.data)
        .then(list => {
          this.$store.commit('list_upsert', list);
          return this.$router.push(`/lists/view?_id=${list._id}`);
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Error adding list.`});
        })
    }
  }
}
</script>
