<template>
  <div class="pa-3">
    <!-- For the owner -->
    <template v-if="theList && theList.owner && user && user._id && theList.owner == user._id">
      <!-- Manage settings -->
      <v-card class="bg mb-3">
        <v-card-title class="font-weight-bold">Edit List Settings</v-card-title>
        <v-card-text>
          <v-form v-model="formValid" @submit.prevent="saveList">
            <v-textarea
              label="Title"
              v-model="title"
              :rules="titleRules"
              box
              :rows="1"
              auto-grow
            ></v-textarea>
            <v-textarea
              label="Description"
              v-model="description"
              box
              :rows="1"
              auto-grow
            ></v-textarea>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="error" @click="deleteList">
            <v-icon>fas fa-trash</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            :disabled="!formValid"
            @click="saveList"
          >
            <v-icon>fas fa-save</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>

      <!-- Manage members -->
      <v-card class="mb-3 bg">
        <v-card-title class="font-weight-bold">Members</v-card-title>
        <v-divider></v-divider>
        <v-list class="py-0 bg" two-line>
          <v-list-tile
            v-for="member in members" :key="member._id"
          >
            <v-list-tile-action>
              <v-btn
                color="error"
                @click="removeMemberFromList(member)"
                icon
                :disabled="member._id == user._id"
              >
                <v-icon>fas fa-trash</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ member.email }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ member.fullname }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>

      <!-- Add new member -->
      <v-card class="mb-3 bg">
        <v-card-title class="font-weight-bold">New member</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form v-model="newMemberFormValid" @submit.prevent="addMember" ref="newMemberForm">
            <v-text-field
              type="email"
              label="User Email"
              v-model="newMemberEmail"
              :rules="newMemberEmailRules"
              box
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            :disabled="!newMemberFormValid"
            @click="addMember"
          >
            <v-icon>fas fa-plus</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>

    </template>

    <!-- Just a member -->
    <template v-else>
      <v-btn
        color="error" block
        @click="leaveList"
      >
        Leave List
      </v-btn>
    </template>
  </div>
</template>

<script>
import isEmail from 'validator/lib/isEmail';

export default {
  data() {
    return {
      formValid: false,
      // Title
      title: "",
      titleRules: [v => !!v || 'This field is required.'],
      // Description
      description: "",

      newMemberFormValid: false,
      newMemberEmail: "",
      newMemberEmailRules: [
        v => !!v || 'This field is required.',
        v => isEmail(v) || 'Enter a valid email.'
      ]
    }
  },

  computed: {
    user() {
      return this.$store.state.user;
    },

    theList() {
      let list = this.$store.state.member_lists.find(list => list._id == this.$route.query._id);
      return list ? list : null;
    },

    members() {
      return this.theList.members;
    }
  },

  methods: {
    // Save edits to the list
    saveList() {
      if (!this.formValid) return false;

      return this.$axios
        .put(`/lists/${this.$route.query._id}`, {
          title: this.title,
          description: this.description
        })
        .then(res => res.data)
        .then(list => {
          this.$store.commit('list_upsert', list);
          return this.$router.push(`/lists/view?_id=${this.$route.query._id}`);
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Error updating list.`});
        });
    },

    // Delete a list...
    deleteList() {
      let conf = confirm("Are you sure you want to delete this list?");
      if (!conf) return false;

      return this.$axios.delete(`/lists/${this.$route.query._id}`)
        .then(res => res.data)
        .then(list => {
          this.$store.commit('list_delete', list);
          return this.$router.push(`/lists`);
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Error deleting lsit.`});
        });
    },

    leaveList() {
      let conf = confirm("Are you sure you want to leave this list?");
      if (!conf) return false;

      this.$store.commit('isLoading', true);
      return this.$axios
        .put(`/lists/leaveList/${this.$route.query._id}`)
        .then(() => {
          this.$router.push('/lists');
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('snackbar', {type: "error", message: `Error leaving list.`})
        })
        .finally(() => {
          this.$store.commit('isLoading', false);
        })
    },

    // Remove a member from a list
    removeMemberFromList(member) {
      if (this.theList.owner != this.user._id) return false;

      this.$axios
        .put(`/lists/${this.theList._id}/removeMember/${member._id}`)
        .then(res => res.data)
        .then(list => {
          this.$store.commit('list_upsert', list);
          this.$store.commit('snackbar', {type: "success", message: `Member removed.`});
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Error removing user.`})
        })
    },

    // Add a member
    addMember() {
      if (this.theList.owner != this.user._id || !this.newMemberFormValid) return false;
      
      this.$axios
        .put(`/lists/${this.theList._id}/addMember/${this.newMemberEmail}`)
        .then(res => res.data)
        .then(async list => {
          this.$store.commit('list_upsert', list);
          this.$store.commit('snackbar', {type: "success", message: `Member added.`});
          this.newMemberEmail = "";
          this.$refs.newMemberForm.resetValidation();
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Couldn't find this user.`})
        })
    }

  },

  mounted() {
    let list = this.$store.state.member_lists.find(list => list._id == this.$route.query._id);

    if (!list) {
      return this.$router.push(`/lists/view?_id=${this.$route.query._id}`);
    }

    this.title = list.title;
    this.description = list.description;
  }
}
</script>
