<template>
  <div>
    <!-- Once list is loaded -->
    <template v-if="list">
      <!-- FAB for adding -->
      <v-btn
        fab fixed top right
        color="primary"
        @click="addItem"
      >
        <v-icon color="bg">fas fa-plus</v-icon>
      </v-btn>

      <!-- Actions card -->
      <v-card class="bg" flat>
        <v-card-text>
          <div class="font-weight-bold">{{ list.title }}</div>
          <div v-if="list.description" v-html="list.description"></div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            flat @click="clearCompleted" :disabled="!canClearItems"
            v-if="!sortMode"
          >Clear Completed</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            v-if="!sortMode && listitems.length > 1"
            flat
            @click="startSort"
          >Sort</v-btn>
          <v-btn
            v-if="sortMode && listitems.length > 1"
            @click="saveSort"
            color="success"
          >Save Sort</v-btn>
        </v-card-actions>
      </v-card>
      <v-divider></v-divider>


      <!-- List the todos. -->
      <v-list class="bg py-0" v-if="!sortMode">
        <v-list-tile
          v-for="item in listitems" :key="item._id"
          :style="item.completed ? {'opacity': 0.3} : {}"
          @click="inspect(item)"
        >
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn
              icon
              @click.stop="changeCompleted(item)"
              :color="item.completed ? '' : 'primary'"
              small
            >
              <v-icon :color="item.completed ? '' : 'bg'">fas {{ item.completed ? 'fa-undo' : 'fa-check' }}</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>

      <!-- For sorting -->
      <v-list class="bg py-0" v-if="sortMode">
        <draggable
          :options="{handle: '.handle'}"
          v-model="tmpItems"
        >
          <v-list-tile
            v-for="item in tmpItems" :key="item._id"
            :style="item.completed ? {'opacity': 0.3} : {}"
            @click="inspect(item)"
          >
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action class="handle">
              <v-btn icon>
                <v-icon>fas fa-arrows-alt-v</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </draggable>
      </v-list>

    </template>
    <!-- Loading icon -->
    <template v-else>
      <div class="fill-height d-flex align-center">
        <v-progress-circular indeterminate size="60"></v-progress-circular>
      </div>
    </template>

    <!-- Inspector dialog -->
    <v-dialog v-model="showInspector" full-width width="400px">
      <v-card v-if="activeItem" class="bg">
        <!-- Display data -->
        <v-card-text v-if="activeItem && !editMode">
          <div class="font-weight-bold">{{ activeItem.title }}</div>
          <div class="font-weight-light" v-if="activeItem.description" v-html="activeItem.description"></div>
        </v-card-text>
        <!-- Edit data -->
        <v-card-text v-if="editMode">
          <v-form v-model="formValid" @submit.prevent="saveEdit" ref="form">
            <!-- Title -->
            <v-textarea
              label="Title"
              v-model="title" ref="title"
              :rules="titleRules"
              box autofocus
              @keydown.enter.prevent="saveEdit"
              :rows="1"
              auto-grow
            ></v-textarea>
            <!-- Description -->
            <v-textarea
              label="Description"
              v-model="description"
              box
              @keydown.enter.prevent="saveEdit"
              :rows="1"
              auto-grow
            ></v-textarea>
          </v-form>
        </v-card-text>
        <v-card-actions v-if="activeItem && !editMode">
          <v-btn
            color="error" outline @click="deleteActiveItem"
          >
            <v-icon>fas fa-trash</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="info" outline @click="editActiveItem"
          >
            <v-icon>fas fa-edit</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            :color="activeItem.completed ? 'warning' : 'success'" outline
            @click="changeCompleted(activeItem); showInspector = false;"
          >
            <v-icon>fas {{ activeItem.completed ? 'fa-undo' : 'fa-check' }}</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-actions v-if="activeItem && editMode">
          <v-btn color="warning" outline @click="editMode = false">
            <v-icon>fas fa-times</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="success" @click="saveEdit(false)"
            :disabled="!formValid"
          >
            <v-icon>fas fa-save</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import KEYMAP from '~/assets/js/KEYMAP'
import draggable from 'vuedraggable'

export default {
  components: {draggable},

  data() {
    return {
      activeItem: null,
      showInspector: false,
      fab: false,
      editMode: false,
      sortMode: false,
      formValid: false,

      title: "",
      titleRules: [v => !!v || 'This field is required.'],
      description: "",

      tmpItems: []
    }
  },

  computed: {
    list() {
      return this.$store.state.member_lists.find(item => item._id == this.$route.query._id);
    },

    canClearItems() {
      return this.list && this.list.listitems && this.list.listitems.length > 0 && this.list.listitems.some(item => item.completed == true);
    },

    listitems() {
      return this.list ?  [...this.list.listitems].sort((a,b) => a.order - b.order) : [];
    }
  },

  watch: {
    list(val) {
      if (val) {
        this.$store.commit('SET_PAGE_TITLE', val.title)
      } else {
        // Redirect if list wiped?
      }
    },

    showInspector(val) {
      if (!val) {
        this.editMode = false;
        this.fab = false;
        this.activeItem = false;
        this.title = "";
        this.description = "";
      }
    }
  },

  methods: {
    // Complete/unmark an item
    changeCompleted(item) {
      this.$store.commit('listitem_upsert', Object.assign({...item}, {completed: !item.completed}));
      return this.$axios
        .put(`/listitems/${item._id}`, {completed: !item.completed})
        .then(res => res.data)
        .then(item => {
          this.$store.commit('listitem_upsert', item)
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Try refreshing the page.`})
        })
    },

    // Pull up inspector
    inspect(item) {
      this.activeItem = item;
      this.showInspector = true;
    },

    editActiveItem() {
      this.title = this.activeItem.title;
      this.description = this.activeItem.description;

      if (this.$refs.form) this.$refs.form.resetValidation();
      this.editMode = true;
    },

    deleteActiveItem() {
      this.$store.commit('isLoading', true);
      return this.$axios.delete(`/listitems/${this.activeItem._id}`)
        .then(res => res.data)
        .then(listitem => {
          this.$store.commit('listitem_delete', listitem);
          this.$store.commit('snackbar', {type: "success", message: `Item deleted.`});
          this.showInspector = false;
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Error deleting item.`});
        })
        .finally(() => {
          this.$store.commit('isLoading', false);
        })
    },

    addItem() {
      this.activeItem = {
        title: "",
        description: ""
      };
      this.showInspector = true;
      this.editMode = true;
    },

    saveEdit(persist = true) {
      if (!this.formValid) return false;

      this.$store.commit('isLoading', true);
      // Edit
      if (this.activeItem.list) {
        return this.$axios
          .put(`/listitems/${this.activeItem._id}`, {
            title: this.title,
            description: this.description
          })
          .then(res => res.data)
          .then(listitem => {
            this.$store.commit('snackbar', {type: "success", message: `Item updated.`});
            this.$store.commit('listitem_upsert', listitem);
            this.showInspector = false;
          })
          .catch(err => {
            this.$store.commit('snackbar', {type: "error", message: `Could not update item.`});
          })
          .finally(() => {
            this.$store.commit('isLoading', false);
          })
      } else { // New
        return this.$axios
          .post(`/listitems`, {
            title: this.title,
            description: this.description,
            list: this.$route.query._id,
            completed: false
          })
          .then(res => res.data)
          .then(listitem => {
            this.$store.commit('snackbar', {type: "success", message: `Item added.`});
            this.$store.commit('listitem_upsert', listitem);
            this.activeItem = {title: "", description: ""};
            this.title = "";
            this.description = "";
            if (persist) {
              if (this.$refs.form) this.$refs.form.resetValidation();
              if (this.$refs.title) this.$refs.title.focus();
            } else {
              if (this.$refs.form) this.$refs.form.resetValidation();
              this.showInspector = false;
            }
          })
          .catch(err => {
            this.$store.commit('snackbar', {type: "error", message: `Could not add item.`});
          })
          .finally(() => {
            this.$store.commit('isLoading', false);
          })
      }
    },

    // Clear out completed items
    clearCompleted() {
      let conf = confirm("This will delete all completed items. Are you sure you want to do this?");
      if (!conf) return false;

      this.$store.commit('isLoading', true);
      return this.$axios.post(`/lists/clearCompleted/${this.$route.query._id}`)
        .then(() => {
          this.$store.commit('snackbar', {type: "success", message: `Completed items cleared.`});
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Could not clear completed items.`});
        })
        .finally(() => {
          this.$store.commit('isLoading', false);
        })
    },

    keyListener($event) {
      let code = $event.keyCode;
      switch(code) {
        case KEYMAP['Escape']:
          if (this.editMode) this.showInspector = false;
          break;
        case KEYMAP['N']:
          this.addItem();
          break;
      }
    },

    startSort() {
      this.tmpItems = [];
      [...this.listitems].forEach((item, i) => {
        let { _id, title, description, completed } = item;
        this.tmpItems.push({ _id, title, description, completed, order: i+1 });
      });
      this.sortMode = true;
    },

    async saveSort() {
      let newOrder = [];
      this.tmpItems.forEach((item, i) => {
        newOrder.push({ _id: item._id, order: i+1})
      });

      this.$store.commit('isLoading', true);
      await this.$axios
        .put(`/lists/${this.$route.query._id}/updateOrders`, {
          order: newOrder
        })
        .then(() => {
          this.$store.commit('snackbar', {type: "success", message: `Order updated.`});
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Couldn't update order.`});
        })
        .finally(() => {
          this.$store.commit('isLoading', false);
        })

      this.sortMode = false;
    },
  },

  mounted() {
    if (this.list) {
      this.$store.commit('SET_PAGE_TITLE', this.list.title);
    }
    window.addEventListener('keyup', this.keyListener);
  },

  beforeDestroy() {
    window.removeEventListener('keyup', this.keyListener);
  }
}
</script>
