<template>
  <div class="fill-height">
    <gs-quill-editor v-model="note"></gs-quill-editor>
  </div>
</template>

<script>
import GsQuillEditor from '~/components/GsQuillEditor'
import { setTimeout } from 'timers';
import { clearTimeout } from 'timers';

export default {
  components: {GsQuillEditor},

  data() {
    return {
      saveTimeout: null
    }
  },

  computed: {
    note: {
      get() {
        return this.$store.state.user.personalNote;
      },
      set(val) {
        this.$store.commit('updatePersonalNote', val);
      }
    }
  },

  watch: {
    note(val) {
      clearTimeout(this.saveTimeout);
      this.saveTimeout = setTimeout(this.savePersonalNote, 3000);
    }
  },

  methods: {
    savePersonalNote() {
      this.$axios.put(`/notes/savePersonalNote`, {note: this.note})
    }
  },

  beforeDestroy() {
    this.savePersonalNote();
  }
}
</script>
