<template>
  <div class="fill-height">
    Notes coming soon...
  </div>
</template>

<script>

export default {

  data() {
    return {
      body: ""
    }
  },

  computed: {
    notelist() {
      let list_id = this.$route.query.list_id;
      return this.$store.state.member_notelists.find(l => l._id == list_id);
    },

    note() {
      let note_id = this.$route.query._id;
      try {
        return this.notelist.notes.find(n => n._id == note_id);
      } catch(err) {
        return {
          title: "...",
          body: "..."
        }
      }
    }
  }, // End computed

  watch: {
    note(val) {
      try {
        // this.quill.setContents(JSON.parse(val.body), 'silent');
        this.body = val.body;

        console.log(val.body);

        // this
      } catch(err) {}
    },

  },

  methods: {

    // Save
    saveNote() {
      return false;
      if (this.note._id) {
        this.$axios
          .put(`/notes/${this.note._id}`, {body: this.body})
          .then(res => res.data)
          .then(note => {
            // this.$store.commit('note_update', note);
            this.$store.commit('snackbar', {type: "success", message: "Note saved."})
          })
          .catch(err => {
            this.$store.commit('snackbar', {type: "error", message: "Error saving note."})
          })
      }
    }, // End saveNote

    onTextChange(delta, oldDelta, source) {
      if (source == 'user') {
        if (this.saveTimeout) clearTimeout(this.saveTimeout);
        this.saveTimeout = setTimeout(this.saveNote, 5000);
      }
    }



  }, // End methods

  mounted() {
    if (this.note.body) this.body = this.note.body;
    this.$socket.on('note_upsert', note => this.$store.commit('note_upsert', note));
  },

  beforeDestroy() {
    this.$socket.off('note_upsert');
  },
}
</script>
