<template>
  <div>
    <v-list two-line class="py-0 bg">
      <v-list-tile
        v-for="todo in todos" :key="todo._id"
        @click="inspect(todo)"
      >
        <v-list-tile-content>
          <v-list-tile-title>{{ todo.title }}</v-list-tile-title>
          <v-list-tile-sub-title>Completed {{ todo.completed_at | dateFilter }}</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon color="success" size="1.5em">far fa-check-circle</v-icon>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>

    <v-bottom-sheet v-model="showActions">
      <v-card tile class="bg">
        <v-speed-dial
          v-model="fab"
          absolute top right
          direction="left"
          :open-on-hover="$vuetify.breakpoint.smAndUp"
          :style="{'top': '0%'}"
          v-if="activeTodo"
        >
          <!-- Activator -->
          <v-btn
            slot="activator"
            v-model="fab"
            color="primary"
            fab
          >
            <v-icon>fas fa-bars</v-icon>
            <v-icon>fas fa-times</v-icon>
          </v-btn>
          <!-- Undo -->
          <v-btn
            fab color="warning"
            @click="undoActiveTodo"
          >
            <v-icon>fas fa-undo</v-icon>
          </v-btn>
          <!-- Delete -->
          <v-btn
            fab color="error"
            @click="deleteActiveTodo"
          >
            <v-icon>fas fa-trash</v-icon>
          </v-btn>
        </v-speed-dial>

        <!-- Display data -->
        <v-card-text v-if="activeTodo">
          <div class="font-weight-bold" style="font-size:16px;">{{ activeTodo.title }}</div>
          <div class="font-weight-light">{{ activeTodo.list }}</div>
          <div class="font-weight-light">{{ activeTodo.due_date | dateFilter }}</div>
          <div v-if="activeTodo.description" v-html="activeTodo.description" class="mt-2"></div>
        </v-card-text>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>

<script>
import { isToday, isTomorrow, format, isBefore, addDays, compareDesc } from 'date-fns'
const now = new Date();
import { getUTCDate, dateFilter } from '~/assets/js/FUNCTIONS'

export default {
  data() {
    return {
      showActions: false,
      activeTodo: null,

      fab: false
    }
  },

  computed: {
    // Todos DUE TODAY
    todos() {
      return this.$store.getters.allTodos
        .filter(todo => todo.completed)
        .sort((a,b) => compareDesc(a.completed_at, b.completed_at));
    }
  },

  filters: {
    dateFilter
  },

  methods: {
    undoActiveTodo() {
      return this.$axios
        .put(`/todos/undo/${this.activeTodo._id}`)
        .then(res => res.data)
        .then(todo => {
          this.$store.commit('todo_upsert', todo);
          this.showActions = false;
          this.activeTodo = null;
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Couldn't undo this.`})
        })
    },

    inspect(todo) {
      this.activeTodo = todo;
      this.showActions = true;
    },

    deleteActiveTodo() {
      this.$axios
        .delete(`/todos/${this.activeTodo._id}`)
        .then(res => res.data)
        .then(todo => {
          this.$store.commit('todo_delete', todo);
          this.$store.commit('snackbar', {type: "success", message: `Todo deleted.`});
          this.showActions = false;
          this.activeTodo = null;
        })
        .catch((err) => {
          this.$store.commit('snackbar', {type: "error", message: `Couldn't delete todo.`});
        })
    }
  },

  head() {
    return {
      title: "Completed Todos"
    }
  }
}
</script>