<template>
  <div>
    <gs-todo-list :todos="todos"></gs-todo-list>
  </div>
</template>

<script>
import GsTodoList from '~/components/GsTodoList'
import { sortTodosByDate } from '~/assets/js/FUNCTIONS'

export default {
  components: {GsTodoList},

  computed: {
    // All todos
    todos() {
      return this.$store.getters.allTodos.filter(todo => !todo.completed).sort(sortTodosByDate);
    }
  },

  head() {
    return {
      title: "All Todos"
    }
  }
}
</script>