<template>
  <div>
    <!-- <gs-new-todo class="mb-3"></gs-new-todo> -->
    <template v-if="list">
      <gs-todo-list :todos="todos" :list-id="list._id"></gs-todo-list>
    </template>
    <template v-else>
      <div class="d-flex justify-center">
        <v-progress-circular indeterminate size="50"></v-progress-circular>
      </div>
    </template>
  </div>
</template>

<script>
import GsNewTodo from '~/components/GsNewTodo'

import GsTodoList from '~/components/GsTodoList'
import { sortTodosByDate } from '~/assets/js/FUNCTIONS'
import { compareAsc } from 'date-fns';

export default {
  components: {GsTodoList, GsNewTodo},

  data() {
    return {

    }
  },

  computed: {
    // Get todos
    list() {
      let list_id = this.$route.query._id;
      return this.$store.state.member_todolists.find(list => list._id == list_id);
    },

    todos() {
      return this.list.todos
      .filter(todo => !todo.completed)
      .sort((a,b) => compareAsc(a.due_date, b.due_date))
      .map(todo => {return {...todo, color: this.list.color, list: this.list.title}});
    }
  },

  head() {
    return {
      title: "Todo List"
    }
  }
}
</script>
