<template>
  <div class="pa-3">
    <v-card class="bg">
      <v-card-title class="font-weight-bold">New Todo List</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form v-model="formValid" @submit.prevent="onSubmit">
          <v-text-field
            label="Title"
            v-model="title" :rules="titleRules"
            box
          ></v-text-field>
          <v-textarea
            label="Description"
            v-model="description" :rules="descriptionRules"
            box
          ></v-textarea>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="success"
          @click="onSubmit"
          :disabled="!formValid"
        >
          <v-icon>fas fa-save</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { checkNotBlank } from '~/assets/js/FUNCTIONS'

export default {
  data() {
    return {
      formValid: false,
      // Title
      title: "",
      titleRules: [checkNotBlank],
      // Description
      description: "",
      descriptionRules: [checkNotBlank]
    }
  },

  methods: {
    onSubmit() {
      if (!this.formValid) return false;

      // Do stuff.
      this.$store.commit('isLoading', true);
      this.$axios
        .post(`/todolists`, {
          title: this.title,
          description: this.description
        })
        .then(res => res.data)
        .then(async (todolist) => {
          await this.$store.dispatch('fetchTodoLists');
          this.$store.commit('isLoading', false);
          return this.$router.push(`/todo/list?_id=${todolist._id}`)
        })
        .catch(err => {
          this.$store.commit('isLoading', false);
          this.$store.commit('snackbar', {type: "error", message: `Error creating todolist.`});
        })
    }
  },

  head() {
    return {
      title: "New List"
    }
  }
}
</script>
