<template>
  <div>
    <gs-todo-list :todos="todos"></gs-todo-list>
  </div>
</template>

<script>
import { isToday, isBefore, addDays } from 'date-fns'
import getUTCDate from '~/assets/js/getUTCDate'
const now = new Date();

import GsTodoList from '~/components/GsTodoList'
import { sortTodosByDate } from '~/assets/js/FUNCTIONS'

export default {
  components: {GsTodoList},

  computed: {
    // Todos DUE TODAY
    todos() {
      return this.$store.getters.allTodos.filter(todo => !todo.completed && isBefore(getUTCDate(todo.due_date), addDays(getUTCDate(), 7))).sort(sortTodosByDate);
    }
  },

  head() {
    return {
      title: "Todo this week"
    }
  }
}
</script>