<template>
  <div class="pa-3">
    <!-- <v-btn
      :to="`/todo/list?_id=${$route.query._id}`"
      color="info"
      class="mx-0 mb-3"
    >
      <v-icon>fas fa-arrow-left</v-icon>
    </v-btn> -->
    <!-- If you own the project -->
    <template v-if="theList && theList.owner && user && user._id && theList.owner == user._id">
      <!-- Edit settings -->
      <v-card class="mb-3 bg">
        <v-card-title class="font-weight-bold">Edit List Settings</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form v-model="formValid" @submit.prevent="save">
            <v-text-field
              label="Title"
              v-model="title"
              :rules="titleRules"
              box
            ></v-text-field>
            <v-textarea
              label="Description"
              v-model="description"
              box
            ></v-textarea>

            <!-- Color -->
            <!-- <gs-color-picker label="Color" v-model="color"></gs-color-picker> -->

          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn
            color="error"
            @click="deleteList"
          >
            <v-icon>fas fa-trash</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            :disabled="!formValid"
            @click="save"
          >
            <v-icon>fas fa-save</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
      <!-- Members -->
      <v-card class="mb-3 bg">
        <v-card-title class="font-weight-bold">Members</v-card-title>
        <v-divider></v-divider>
        <v-list class="py-0 bg" two-line>
          <v-list-tile
            v-for="member in members" :key="member._id"
          >
            <v-list-tile-action>
              <v-btn
                color="error"
                @click="removeMemberFromList(member)"
                icon
                :disabled="member._id == user._id"
              >
                <v-icon>fas fa-trash</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ member.email }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ member.fullname }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>
      <!-- Add new member -->
      <v-card class="bg">
        <v-card-title class="font-weight-bold">New member</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form v-model="newMemberFormValid" @submit.prevent="addMember" ref="newMemberForm">
            <v-text-field
              type="email"
              label="User Email"
              v-model="newMemberEmail"
              :rules="newMemberEmailRules"
              box
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            :disabled="!newMemberFormValid"
            @click="addMember"
          >
            <v-icon>fas fa-plus</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>

    </template>
    <!-- Not owner -->
    <template v-else>
      <v-btn
        color="error"
        block
        @click="leaveList"
      >
        Leave List
        <v-icon right>fas fa-hand-peace</v-icon>
      </v-btn>
    </template>
  </div>
</template>

<script>
import isEmail from 'validator/lib/isEmail';
// import GsColorPicker from '~/components/GsColorPicker'

export default {
  // components: {GsColorPicker},

  data() {
    return {
      formValid: false,

      title: "",
      titleRules: [v => !!v || 'This field is required.'],

      description: "",

      color: "#ffffff",
      colorRules: [
        v => /^\#\w{6}$/.test(v) || 'Color not formatted correctly.'
      ],

      newMemberFormValid: false,
      newMemberEmail: "",
      newMemberEmailRules: [
        v => !!v || 'This field is required.',
        v => isEmail(v) || 'Enter a valid email.'
      ]
    }
  },

  computed: {
    user() {
      return this.$store.state.user;
    },

    // The list for this page
    theList() {
      let list_id = this.$route.query._id;
      let list = this.$store.state.member_todolists.find(list => list._id == list_id);
      return list ? list : null;
    },

    members() {
      return this.theList.members;
    }
  },

  methods: {
    // Save list
    save() {
      if (!this.formValid) return false;

      this.$store.commit('isLoading', true);
      this.$axios
        .put(`/todolists/${this.$route.query._id}`, {
          title: this.title,
          description: this.description,
          // color: this.color
        })
        .then(async () => {
          await this.$store.dispatch('fetchTodoLists');
          this.$store.commit('isLoading', false);
          return this.$router.push(`/todo/list?_id=${this.$route.query._id}`)
        })
        .catch(err => {
          this.$store.commit('isLoading', false);
          this.$store.commit('snackbar', {type: "error", message: `Could not save settings.`})
        })
    },

    // Owner deletes list
    deleteList() {
      let conf = confirm(`Are you SURE you want to delete this list?`);
      if (!conf) return false;

      this.$store.commit('isLoading', true);
      this.$axios
        .delete(`/todolists/${this.$route.query._id}`)
        .then(async () => {
          await this.$store.dispatch('fetchTodoLists');
          this.$store.commit('isLoading', false);
          return this.$router.push(`/todo`)
        })
        .catch(err => {
          this.$store.commit('isLoading', false);
          this.$store.commit('snackbar', {type: "error", message: `Error. Try again.`})
        })

    },

    // Leave a todo list
    leaveList() {
      let conf = confirm("Are you sure you want to leave this list?");
      if (!conf) return false;

      this.$store.commit('isLoading', true);
      this.$axios
        .put(`/todolists/leaveList/${this.$route.query._id}`)
        .then(async () => {
          await this.$store.dispatch('fetchTodoLists');
          this.$store.commit('isLoading', false);
          return this.$router.push(`/todo`)
        })
        .catch(err => {
          this.$store.commit('isLoading', false);
          this.$store.commit('snackbar', {type: "error", message: `Error. Try again.`})
        })
    },

    // Remove a member
    removeMemberFromList(member) {
      if (this.theList.owner != this.user._id) return false;

      this.$axios
        .put(`/todolists/${this.theList._id}/removeMember/${member._id}`)
        .then(res => res.data)
        .then(async todolist => {
          await this.$store.dispatch('fetchTodoLists');
          this.$store.commit('snackbar', {type: "success", message: `Member removed.`});
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Error removing user.`})
        })
    },

    // Add a member to the list
    addMember() {
      if (this.theList.owner != this.user._id || !this.newMemberFormValid) return false;
      
      this.$axios
        .put(`/todolists/${this.theList._id}/addMember/${this.newMemberEmail}`)
        .then(res => res.data)
        .then(async todolist => {
          await this.$store.dispatch('fetchTodoLists');
          this.$store.commit('snackbar', {type: "success", message: `Member added.`});
          this.newMemberEmail = "";
          this.$refs.newMemberForm.resetValidation();
        })
        .catch(err => {
          this.$store.commit('snackbar', {type: "error", message: `Couldn't find this user.`})
        })
    }
  },

  mounted() {
    if (process.browser) {
      let list_id = this.$route.query._id;
      let list = this.$store.state.member_todolists.find(list => list._id == list_id);

      // If no list, boot back to list page
      if (!list) {
        return this.$router.push(`/todo/list?_id=${list_id}`);
      }


      this.title = list.title;
      this.description = list.description;
      this.color = list.color || "#ffffff";
    }
  },

  head() {
    return {
      title: "Todo List Settings"
    }
  }
}
</script>
