<template>
  <div>
    <gs-todo-list :todos="todos"></gs-todo-list>
  </div>
</template>

<script>
import { isToday } from 'date-fns'
import getUTCDate from '~/assets/js/getUTCDate'
import GsTodoList from '~/components/GsTodoList'
import { sortTodosByDate } from '~/assets/js/FUNCTIONS'

export default {
  components: {GsTodoList},
  
  computed: {
    // Todos DUE TODAY
    todos() {
      return this.$store.getters.allTodos.filter(todo => !todo.completed && isToday(getUTCDate(todo.due_date))).sort(sortTodosByDate);
    }
  },

  head() {
    return {
      title: "Todo today"
    }
  }
}
</script>